.template-home {
  .category-name {
    @extend %large-heading;
    border-bottom: 2px solid $grey-1;
    font-weight: normal;
  }

  .see-all-container {
    padding-top: 15px;
    border-top: 1px solid $grey-2;
    text-align: left;

    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
