.template-home {
  .my-moj {
    position: relative;
    width: 100%;
    right: 0;
    top: 0px;
  }

  .my-moj-trigger {
    display: none;
  }

  .template-container {
  }
}

@include mobile-mq() {
  .template-home .template-container {
    .my-moj {
      display: none;
    }
  }
}
