// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-delete-user {

  h2,
  h3,
  h4,
  h5,
  h6 {
    ff-title();
    margin-bottom: $spacing;
    font-weight: 700;
  }

  h2 {
    font-size: $mantle;
    margin-top: 20px;
  }

  .button{
    position: relative;
    display: inline-block;
    padding: 8px 15px 5px;
    cursor: pointer;
    text-decoration: none;
    vertical-align: top;
    background-color: #00823b;
    box-shadow: 0 2px 0 #003518;
    color: #ffffff;
    font-size: 19px;
    line-height: 35px;
  }

}
