// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-content-filter {
  margin-bottom: $spacing;

  .c-input-box{
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: .5rem;
    padding: 1rem .6rem;
    border: 1px solid hsla(0,0%,71%,.561);
    font-size: 1.9rem;
    line-height: 1.2;

    .c-input-container--checkbox{
      label{
        margin: 0 0 5px 0;
      }
      input{
        top: auto;
        left: 1px;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  +above(m) {
    margin-bottom: 0;
  }
  fieldset {
    position: relative;
    border: 1px solid $border;
    padding: $spacing;
    margin-top: $spacing*4;
  }

  legend {
    position: absolute;
    left:0;
    top: -($spacing)*3;
    display: block;
    font-weight: bold;
    font-size: $outerCore;
  }
  #ff_button_submit{
    display: inline-block;
    color: $light;
    background-color: $button-colour;
    -webkit-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    padding: $spacing $spacing*3;
    border: 0;
    font-size: $outerCore;
    cursor: pointer;
    text-decoration:none;
    &:hover {
      background: $green-hover;
      cursor: pointer;
      color: $light;
    }
  }




}
