@require "../../globals/css/_ietoolkit";

.c-logo-bar{
    height: 65px;

    &__switch{
        position: absolute;
        right: 0;
        top: 22px;
    }

    .u-wrapper{
        img{
            width: 63px;
            height: 36px;
            position: absolute;
            top: 15px;
        }
        .agency-title{
            position: absolute;
            top: 20px;
            left: 84px;
            color: white;
            font-size: 22px;
            font-weight: 400;
        }

    }

    
}