// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"


.c-logo-bar {
  position: relative;
  background-color: $dark;
  padding: $spacing*3 $spacing $spacing;
   img {
     height: $spacing*3.6;
   }
   &__switch {
     color: $light;
     display block
     +above(m) {
      position: absolute;
      top: 40%;
      right: $spacing;
     }
   }
}
