.guidance-and-support-content {
  .content-head {
    padding-bottom: 15px;
  }

  .page-title {
    margin-top: 0px;
    border-bottom: none;
  }

  .page-category {
    @extend %large-heading;
    margin-top: 16px;
    margin-bottom: 0px;
    font-weight: normal;
    color: $grey-1;
  }

  .right-hand-menu {
    margin-top: 40px;
    border-top: 5px solid $govuk-blue;

    h3 {
      margin-top: 10px;
      margin-bottom: 14px;
    }

    a {
      @extend %medium-copy;
      text-decoration: underline;
    }

    li {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .hidden {
    display: none;
  }

  h4 {
    margin-top: 0;
    padding-top: 24px;
    margin-bottom: 0px;
    font-weight: normal;
  }

  .excerpt {
    @extend %larger-copy;
    margin-top: 30px;
  }
}
