body {
  width: 210mm;
}


.c-breadcrumbs {
  display: none;
}




.c-feedback-container {
  display: none;
}


.c-logo-bar__switch {
  display: none;
}
.c-logo-bar img {
  display: none;
}

.c-left-hand-menu {
  display: none;
}

.c-main-nav-bar {
  display: none;
}



.c-pagination {
  display: none;
}



.c-search-bar {
  display: none;
}


.c-share-post {
  display: none;
}




