.lte-ie7 .my-moj {
  .department {
    width: auto;
  }

  .apps-list {
    .app-icon-inner {
      background-image: url('../images/app_icons.png');
      background-size: auto;
    }
  }

  .quick-links-container {
    clear: both;
  }
}
