// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.quote-container{
  position: relative;
  display: block;
  margin: 0 0 1.6rem 0;
  overflow: hidden;
  width: 100%;

  .c-quotes {
    background-color: $border-colour;
    display: inline-block;
    padding: 15px 15px 0;
    stack();
    +above('m') {
      column(1/2, $cycle: 2);
      margin-bottom: 1.5%;
    }
    +above('l'){
      column(1/3, $cycle: 3, $gutter: 1.5);
    }
    .quote_text{

      float: left;
      width: 100%;
      padding: 0 15px;
      margin: 20px 0 0;
      border: 0;
      display: inline-block;
      position: relative;

      p{
        font-size: 19px;
        font-weight: 400px;
        line-height: 1.31578947;
        font-weight: 400;
        text-transform: none;
        width: 98%;
        margin: 15px 0 0 0;
      }

      &:before{
        content: "\201C";
        display: inline-block;
        float: left;
        font-size: 60px;
        height: 20px;
        margin: -10px 0 20px 0;
      }

      &:after{
        content: "\201D";
        display: inline-block;
        float: right;
        font-size: 60px;
        height: 20px;
        margin: -20px 0 20px 0;
      }

    }

    .quote_author{
      float: left;
      width: 100%;
      color: $text-colour;
      text-transform: none;
      text-align: right;
      width: 96%;

      p{
        font-size: 16px;
        font-weight: bold;
        line-height: 1.31578947;
      }
    }
  }

}
