// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-register {
    label{
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    #message{
        margin-bottom: 20px;
        padding: 15px 60px;
        display: inline-block;
        width: auto;
        p{
            font-size: 19px;
            line-height: 25px;
            margin-bottom: 0;
        }
    }
    .error {
        border: 3px solid #b10e1e;

        &-title {
            font-weight: 700;
            font-size: 2.1rem;   
        }

        &-state {
            padding-left: 15px;
            border-left: 5px solid #b10e1e;

            input[type=text], input[type=email]{
                border: 2px solid #b10e1e;
            }
        }

        &-message {
            color: #b10e1e;
            font-weight: 700;
            font-size: 1.6rem;
        }
    }
    .success{
        border: 3px solid #006435;
    }
    input[type=text], input[type=email]{
        padding: 10px 6px;
        border: 1px solid #bfc1c3;
        width: 400px;
    }
    .button{
        position: relative;
        display: inline-block;
        padding: 8px 15px 5px;
        cursor: pointer;
        text-decoration: none;
        vertical-align: top;
        background-color: #00823b;
        box-shadow: 0 2px 0 #003518;
        color: #ffffff;
        font-size: 19px;
        line-height: 35px;
    }
}
.govuk-visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}
