.template-media-grid .template-container {
  .lightbox-image-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    right: -100%;
    top: 0;
    bottom: 0;
    transition: all 200ms ease-out;
    z-index: 10;
  }

  .lightbox-image-container[data-state="visible"] {
    opacity: 1;
    left: 0;
    right: 0;
  }

  .lightbox-video-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    right: -100%;
    top: 0;
    bottom: 0;
    transition: all 200ms ease-out;
    z-index: 10;
  }

  .lightbox-video-container[data-state="visible"] {
    opacity: 1;
    left: 0;
    right: 0;
  }

  .lightbox-attr {
    margin-top: 5%;
  }

  .lightbox-img {
    max-width: 100%;
    z-index: 10;
  }

  .lightbox-video {
    max-width: 100%;
    height: auto;
    z-index: 10;
  }

  .image-gallery-meta {
    color: white;
  }

  .btn-close {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 0;
    right: 38px;
    margin-top: 5%;
    border-radius: 2px;
    background-image: url('../images//white-x.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 10040;
  }

  .lightbox-img_caption h4 {
    color: white;
    line-height: normal;
    margin-top: 0;
  }

  .lightbox-center {
    text-align: center;
  }

  .blockquote {
    float:left;
    width: 100%;
    padding: 15px 15px 0;
    margin: 20px 0 0;
    border: 0;
    display: inline-block;
  }

  .blockquote p {
    font-family: "nta",Helvetica,Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31578947;
    font-weight: 400;
    text-transform: none;
    color: #0b0c0c;
}

.blockquote:before {
    content: "\201C";
    display: inline-block;
    float: left;
    font-size: 60px;
}

.blockquote:after {
    content: "\201D";
    display: inline-block;
    float: right;
    font-size: 60px;
    margin-top: 4px;
}

  .authorTitle {
    float: left;
    width: 100%;
    font-size:16px;
    font-weight:bold;
    color: #0b0c0c;
    line-height: 1.31578947;
    text-transform: none;
    text-align: right;
    padding: 15px;
  }

  .article {
    -moz-column-width: 20em;
    -webkit-column-width: 20em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
  }

  .section {
    display: inline-block;
    width:  100%;
    background-color: #e1e8e8;
  }

}
