// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-shortcode-banner {
    background: $banner-default-colour;
    color: white;
    font-size: $outerCore;
    padding: 1px 30px;

    &__text {
     }
}
