template {
  display: none;
}

h1 {
  @extend %largest-heading;
  border-bottom: 1px solid $grey-2;
}

h2 {
  @extend %larger-heading;
}

h3 {
  @extend %large-heading;
}

h4 {
  @extend %medium-heading;
}

h5 {
  @extend %small-heading;
}

h6 {
  @extend %smaller-heading;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

a {
  color: $link-colour;

  &:active {
    color: $link-active-colour;
  }

  &:visited {
    color: $link-colour;
  }

  &:hover {
    color: $link-hover-colour;
  }

  & {
    text-decoration: none;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }

  &[rel="external"]:after {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('../images/external_link_x2.png');
    background-position: -12px 0;
    background-size: 200%;
    background-repeat: no-repeat;
    margin-left: 6px;
    content: "";
  }
}

p {
  margin: 0;

  + p {
    margin-top: 25px;
  }
}
