template {
  display: none;
}

h1 {
  @extend %largest-heading;
}

h2 {
  @extend %larger-heading;
}

h3 {
  @extend %large-heading;
}

h4 {
  @extend %medium-heading;
}

h5 {
  @extend %small-heading;
}

h6 {
  @extend %smaller-heading;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

.news_date {
  color: #6f777b;
}

.content-wrapper {
  margin: 15px 0;
}

a {
  &,
  &:hover,
  &:active,
  &:visited {
    color: $link-active-colour;
  }

  &,
  &:active,
  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}
