.clearfix {
  &:after {
    content: "";
    display: table-cell;
    clear: both;
  }
}

.news_date {
  color: #6f777b;
}

.content-wrapper {
  margin: 15px 0 60px 0;
}

#content {
  .editable {
    ul {
      padding-left: 20px;
      margin: 0;

      li {
        list-style-type: disc;
        margin: 0;

        + li {
          margin-top: 10px;
        }
      }
    }
  }

  ul li {
    line-height: 1.4;
  }

  .info-list {
    display: table;

    li {
      display: table-row;
    }

    span {
      display: table-cell;
      padding-right: 15px;
    }
  }
}

.content-nav {
  @extend %larger-copy;
  @include clearfix;

  li {
    &:before,
    &:after {
      font-size: 24px;
    }


    &.previous {
      float: left;

      &:before {
        content: '\2039';
      }
    }

    &.next {
      float: right;

      &:after {
        content: '\203a';
      }
    }

    a {
      padding: 10px 0;
    }
  }
}
