h1 {
  border-bottom: 1px solid #545454;
}

p {
  margin: 0;

  + p {
    margin-top: 10px;
  }
}

#content {
  .editable {
    ul {
      padding-left: 20px;
      margin: 0;

      li {
        list-style-type: disc;
        margin: 0;

        + li {
          margin-top: 10px;
        }
      }
    }
  }

  ul li {
    line-height: 1.4;
  }

  .info-list {
    display: table;

    li {
      display: table-row;
    }

    span {
      display: table-cell;
      padding-right: 15px;
    }
  }
}
