h1 {
  border-bottom: 1px solid #545454;
}

p {
  margin: 0;

  + p {
    margin-top: 10px;
  }
}

.editable {
  ul {
    padding-left: 20px;
    margin: 0;

    li {
      list-style-type: disc;
      margin: 0;

      + li {
        margin-top: 10px;
      }
    }
  }
}
