.main-content .editable {
  h2 {
    @extend %large-heading;
    margin-top: 50px;

    &:first-of-type {
      margin-top: 24px;
    }
  }

  p, li {
    @extend %large-copy;
  }

  ul {
    padding-left: 20px;
    margin: 0;
  }

  li {
    list-style-type: disc;
    margin: 0;

    + li {
      margin-top: 5px;
    }
  }

  a {
    text-decoration: underline;
  }

  ol {
    padding-left: 20px;

    li {
      list-style-type: decimal;
    }
  }

  table {
    width: 100%;

    th,
    td {
      @extend %medium-copy;
      padding: 12px 20px 9px 0;
      border-bottom: 1px solid $grey-2;
      text-align: left;

      &.numeric {
        text-align: right;
      }
    }
  }

  .address {
    @extend %large-copy;
    border-left: 1px solid $grey-2;
    padding-left: 15px;
    padding: 7px 0 3px 15px;
  }
}
