div, span, p {
  font-family: arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 500;
}

/** Headings **/

%smallest-heading {
}

%smaller-heading {
  font-size: 14px;
}

%small-heading {
  font-size: 16px;
}

%medium-heading {
  font-size: 19px;
}

%large-heading {
  font-size: 24px;
}

%larger-heading {
  font-size: 36px;
}

%largest-heading {
  font-size: 48px;
}


/** Copy **/

%lead-copy {
  font-size: 24px;
}

%body-copy {
  font-size: 19px;
}

%support-copy {
  font-size: 16px;
}

%larger-copy {
  font-size: 24px;
}

%large-copy {
  font-size: 19px;
}

%medium-copy {
  font-size: 16px;
}

%small-copy {
  font-size: 14px;
}

%smaller-copy {
  font-size: 13px;
}

%smallest-copy {
  font-size: 12px;
}
