* {
  font-family: "nta", Helvetica, arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/** Headings **/

%smallest-heading {
}

%smaller-heading {
  font-size: 14px;
  line-height: 20px;
}

%small-heading {
  font-size: 16px;
  line-height: 20px;
}

%medium-heading {
  font-size: 19px;
  line-height: 22px;
}

%large-heading {
  font-size: 24px;
  line-height: 30px;
}

%larger-heading {
  font-size: 27px;
  line-height: 30px;
}

%largest-heading {
  font-size: 36px;
  line-height: 40px;
}


/** Copy **/

%lead-copy {
  font-size: 24px;
  line-height: 30px;
}

%body-copy {
  font-size: 19px;
  line-height: 25px;
}

%support-copy {
  font-size: 16px;
  line-height: 20px;
}

%larger-copy {
  font-size: 24px;
  line-height: 30px;
}

%large-copy {
  font-size: 19px;
  line-height: 22px;
}

%medium-copy {
  font-size: 16px;
  line-height: 20px;
}

%small-copy {
  font-size: 14px;
  line-height: 20px;
}

%smaller-copy {
  font-size: 13px;
}

%smallest-copy {
  font-size: 12px;
}


/** **/

body {
  @extend %small-copy;
}
