// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-footer {
  clearfix();
  margin-top: $spacing*4;
  border-top: 1px solid $border;
  background: $boxBg;
}
