// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-footer {
  padding: $spacing;
  background: $boxBg;
  +above(m) {
    clearfix();
    padding: 0;
    margin-top: $spacing*4;
  }
  .c-copyright {
    color: #3c3c3b;
  }
}
