.ie7 .ht-feature-news {
  .news-medium {
    display: inline;
    width: 48%;
    padding-right: 10px;
    zoom: 1;
  }

  .news-thumbnail {
    clear: both;

    img {
      margin-bottom: 10px;
    }
  }

  .more-in-news {
    clear: both;
  }
}
