.ie7 .my-moj {
  .department {
    width: auto;
  }

  .help-icon {
    top: 12px;
    background-image: url('../images/question_mark.png');
  }

  .apps-list {
    .app-icon-inner {
      background-image: url('../images/app_icons.png');
      background-size: auto;
    }
  }

  .quick-links-container {
    clear: both;
  }
}
