public/app/uploads/*
public/app/themes/clarity/node_modules
public/wp
vendor
deploy
!deploy/config
deploy/config/local
Makefile

bin/local-*
.git*
.editorconfig
.env.example
.dory.yml

LICENSE
README.md
