# Editor
.idea*
.DS_*
._DS_*
._.*

*.sql

# Application
web/.well-known/*
web/app/plugins/*
web/app/db.php
!web/app/plugins/aws-xray/
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/languages
web/app/uploads/*
!web/app/uploads/.gitkeep

web/app/cache

# Theme
web/app/themes/clarity/dist/*
!web/app/themes/clarity/dist/*.md
web/app/themes/clarity/node_modules

# WordPress
web/wp
web/.htaccess

# WordPress Plugins
web/app/ewww

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep
/web/app/ewww/lazy/*
/rector.php
