# Editor
.idea*
.DS_*
._DS_*
._.*
.editorconfig

*.sql

# Application
public/.well-known/*
public/hot
public/app/debug.log
public/app/plugins/*
public/app/db.php
public/app/mu-plugins/*/
!public/app/mu-plugins/moj-auth/
public/app/upgrade
public/app/languages/*
public/app/uploads/*
vendor*
.dory.yml
!deploy/config/local/.dory.yml
auth.json
auth


!public/app/plugins/.keep
!public/app/languages/.keep
!public/app/uploads/.keep

public/app/cache

# Theme
public/app/themes/*
!public/app/themes/clarity
public/app/themes/clarity/dist
public/app/themes/clarity/node_modules

# WordPress
public/wp/*
!public/wp/.keep

# WordPress Plugin additions
public/app/ewww

# Dotenv
.env
.env.*
!.env.example

# Tests
/tests/e2e/artifacts/storage-states
/tests/e2e/artifacts/test-results
/tests/e2e/node_modules
