
[submodule "wp-content/plugins/dw-news"]
	path = wp-content/plugins/dw-news
	url = git@github.com:ministryofjustice/dw-news.git
[submodule "wp-content/plugins/dw-pageapi"]
	path = wp-content/plugins/dw-pageapi
	url = git@github.com:ministryofjustice/dw-pageapi.git
[submodule "wp-content/plugins/dw-markdown"]
	path = wp-content/plugins/dw-markdown
	url = git@github.com:ministryofjustice/dw-markdown.git
[submodule "wp-content/plugins/dw-mvc"]
	path = wp-content/plugins/dw-mvc
	url = git@github.com:ministryofjustice/dw-mvc.git
[submodule "wp-content/plugins/dw-nested-menu"]
	path = wp-content/plugins/dw-nested-menu
	url = git@github.com:ministryofjustice/dw-nested-menu.git
