[submodule "wp-content/plugins/dw-mvc"]
	path = wp-content/plugins/dw-mvc
	url = https://github.com/ministryofjustice/dw-mvc.git
[submodule "wp-content/plugins/dw-pageapi"]
	path = wp-content/plugins/dw-pageapi
	url = https://github.com/ministryofjustice/dw-pageapi.git
[submodule "wp-content/plugins/dw-sticky-news"]
	path = wp-content/plugins/dw-sticky-news
	url = https://github.com/ministryofjustice/dw-sticky-news.git
[submodule "wp-content/plugins/dw-feature-news"]
	path = wp-content/plugins/dw-feature-news
	url = https://github.com/ministryofjustice/dw-feature-news.git
