# httponly
<IfModule php5_module>
    php_value session.cookie_httponly true
    php_value session.cookie_secure true
</IfModule>

# CORS rules
Header always set Access-Control-Allow-Methods "POST, GET, PUT, OPTIONS, PATCH"
Header always set Access-Control-Allow-Headers "X-Accept-Charset,X-Accept,Content-Type"

# Block xmlrpc
<FilesMatch "xmlrpc\.php|robots\.txt">
    Order Deny,Allow
    Deny from all
</FilesMatch>


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
