// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-logo-bar {
  position: relative;
  background-color: $dark;
  padding: $spacing $spacing $spacing;
  height: 47px;

  a {
    text-decoration: none;
  }

  img {
    height: $spacing*2.6;
    position: relative;
    display: block;
    float: left;
  }
  .agency-title {
    color: white;
    font-size: 26px;
    font-weight: 700;
    line-height: 29px;
  }

  &__switch {
    color: $light;
    display block
    text-decoration: none;

    +above(m) {
      position: absolute;
      top: 10%;
      right: $spacing;
    }
  }

  .u-wrapper {
  }

  &__stack--left {
    float:left;
  }

  &__stack--right {
    float:right;
  }

}
