.beta-banner {
  margin-top: -4px;
  padding: 0 0 10px;
  border-bottom: 1px solid $grey-2;

  .beta-icon,
  .message {
    @extend %medium-copy;
  }

  .beta-icon {
    display: block;
    float: left;
    margin-right: 10px;
    padding: 2px 10px 0;
    background-color: $govuk-blue;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
  }

  .message {
    display: block;
    overflow: hidden;
    margin-top: 0;
    padding: 0;
    padding-left: 10px;
  }

  .ie7-warning {
    display: none;
  }
}

@include mobile-mq() {
  .beta-banner {
    .message {
    }
  }
}
