.byline {
  .author-thumbnail {
    float: left;
    max-width: 80px;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
  }

  .info-list {
    font-size:  19px;
    line-height: 25px;
    color: #6F777B;
    padding-top: 15px;

    span {
      display: inline;
      padding: 0;
    }
  }
}
