.children-pages-box {
  display: none;

  &.visible {
    display: block;
  }
}

.children-pages {
  margin-top: 5px;

  li {
    display: block;
    border-bottom: 1px solid $grey-2;

    &:first-of-type {
      border-top: 1px solid $grey-2;
    }

    a {
      @extend %medium-copy;
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
