.footer {
  padding: 40px 0;
  color: #454a4c;
	background: #dee0e2;
  border-top: 1px solid $grey-1;

  .footer-menu {
    margin-top: 108px;

    a {
      text-decoration: underline;
      color: #454a4c;
    }

    li {
      @extend %medium-copy;
      display: inline-block;
      margin-right: 15px;

      &.built-by:before {
        content: "Built by ";
        display: inline;
      }
    }
  }

  .copyright-container {
    text-align: center;
    float: right;
  }

  .crown-copyright-logo {
    width: 125px;
    height: 102px;
  }
}


@include mobile-mq() {
  .footer {
    padding: 20px 0;
    .footer-menu {
      margin-top: 0;
      margin-bottom: 20px;

      .menu {
        text-align: center;
      }
    }

    .copyright-container {
      float: none;
    }
  }
}
