.header {
  background: $black;

  .skip-to-content-container {
    height: 0;
    padding-top: 10px;
    overflow: hidden;

    &.focused {
      height: auto;
    }

    a {
      @extend %medium-copy;
      line-height: 30px;
      color: $govuk-blue;
      text-decoration: underline;
    }
  }

  .site-logo {
    display: block;

    a {
      display: inline-block;
    }

    img {
      width: 254px;
      height: 36px;
    }
  }

  .header-search {
    background-color: $govuk-blue;

    .search-form {
      margin: 20px 0;
    }

    .search-btn {
      background-color: $black;
    }
  }

  .template-search-results & {
    .search-form {
      display: none;
    }
  }
}
