.header {
  background: $black;

  .mobile-msg {
    display: none;
  }

  .skip-to-content-container {
    height: 0;
    padding-top: 10px;
    overflow: hidden;

    &.focused {
      height: auto;
    }

    a {
      @extend %medium-copy;
      line-height: 30px;
      color: $govuk-blue;
      text-decoration: underline;
    }
  }

  .site-logo {
    display: block;

    a {
      display: inline-block;
    }

    img {
      width: 254px;
      height: 36px;
    }
  }

  .user-bar {
    text-align: right;
  }

  .my-intranet-form {
    position: relative;
    display: inline-block;
    padding: 6px 0;
    z-index: 1;

    .department-dropdown-trigger {
      color: $white;
      text-decoration: underline;
      cursor: pointer;
    }

    .department-list {
      position: absolute;
      display: none;
      right: 0;
      width: 320px;
      margin: 0;
      padding: 5px 0;
      border: 1px solid #333;
      background-color: $white;

      &.visible {
        display: block;
      }
    }

    .agency a {
      text-align: left;
      color: $black;

      &:hover {
        background-color: $govuk-blue;
        text-decoration: none;
        color: $white;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .header-search {
    background-color: $govuk-blue;

    .search-form {
      margin: 20px 0;
    }

    .search-btn {
      background-color: $black;
    }
  }

  .template-search-results & {
    .search-form {
      display: none;
    }
  }
}

@include mobile-mq() {
  .header {
    .mobile-msg {
      display: block;
      margin-bottom: 10px;
      background-color: $orange-25;

      p {
        padding: 8px 15px;
        text-align: center;
      }
    }

    .skip-to-content-container {
      display: none;
    }

    .user-bar {
      text-align: left;
    }

    .department-list {
      right: 0;
      left: 0;
    }

  }
}
