.index-list {
  @include clearfix;
  margin-top: 0;

  .category-item {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
  }

  .category-title {
    @extend %small-heading;
    margin: 0;

    a {
      text-decoration: underline;
    }
  }

  &.small {
    .category-item {
      float: none;
      padding-bottom: 0;
    }

    .children-list {
      display: none;
    }
  }

  .children-list {
    padding-left: 10px;
  }

  .child-item {
    margin-top: 5px;
    list-style-type: disc;

    &.see-all {
      margin-top: 15px;
    }
  }

  .child-title {
    margin: 0;
    line-height: 20px;
    font-size: 19px;

    a {
      @extend %medium-copy;
      font-weight: normal;
    }
  }
}
