.header-menu {
  background-color: #ebedef;
  border-style: solid;
  border-color: #979797;
  border-width: 0 0 1px;

  .categories-list {
    @include clearfix;
    display: flex;
    margin-top: 0;
    margin-bottom: -1px;
  }

  .category-item {
    flex-grow: 1;
    flex-basis: 0;

    &:first-child .category-link {
      border-left: 1px solid #979797;
    }

    &.current {
      .category-link {
        background-color: $white !important;
        border-bottom: 1px solid $white;
      }
    }

    .category-link {
      @extend %medium-copy;
      display: block;
      border-right: 1px solid #979797;
      border-bottom: 1px solid #979797;
      color: #3c3c3b;
      line-height: 40px;
      text-align: center;
      font-weight: bold;

      &:hover {
        background-color: #c5c6c8;
      }
    }
  }
}
