select[multiple] {
  &.invisible {
    display: none !important;
  }
}

.multi-select-box {
  .clear-link-box {
    margin-top: -20px;
    text-align: right;
  }

  .clear-link {
    display: inline-block;
    padding: 0px;
    cursor: pointer;
  }

  .multi-select-box-inner {
    text-align: left;
  }
}

[data-type="multi-select"] {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  padding: 6px 0;
  border: 1px solid $grey-2;

  label {
    display: block;
    margin: 0;
    padding: 6px 12px;
    font-weight: normal;

    &:hover {
      background-color: highlight !important;
      color: highlighttext;
    }
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }
}
