.my-moj {
  $icon-size: 32px;

  margin-top: 30px;

  .apps-container {
    .category-name {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .quick-links-container {
    .category-name {
      margin-bottom: 8px;
    }

    .nested-menu {
      margin-top: 0;
    }

    .menu-item {
      margin-top: 10px;
    }

    .menu-link {
      @extend %medium-copy;
      text-decoration: underline;
    }
  }

  [data-department]:before {
    background-image: url('../images/department_crest_x2.png');
  }

  [data-department="select-department"]:before {
    background-position: 100px 100px;
  }

  [data-department="legal-aid-agency"],
  [data-department="hm-courts-and-tribunals-service"],
  [data-department="judicial-office"],
  [data-department="nps"],
  [data-department="noms"],
  [data-department="opg"],
  [data-department="ospt"] {
    &:before {
      background-position: -12px -12px;
    }
  }

  [data-department="judicial-appointments-commission"]:before {
    background-position: -62px -12px;
  }

  [data-department="law-commission"]:before {
    background-position: -112px -12px;
  }

  [data-department="probation"]:before {
    background-position: -162px -12px;
  }

  .apps-list {
    @include clearfix;

    .app-item {
      float: left;
      width: 50%;
      text-align: left;

      &:hover {
        .app-icon {
          border: 1px solid $dw-warning;
        }
      }
    }

    .app-link {
      @extend %small-copy;
      display: block;
      line-height: 14px;

      &:after {
        display: none;
      }
    }

    .app-name {
      display: inline-block;
      width: 70%;
      vertical-align: middle;
    }

    .app-icon {
      display: inline-block;
      width: $icon-size + 5;
      height: $icon-size + 5;
      max-width: $icon-size + 5;
      max-height: $icon-size + 5;
      margin: 0 auto;
      background-color: $white;
      border: 1px solid $grey-2;
      vertical-align: middle;
    }

    .app-icon-inner {
      display: inline-block;
      width: $icon-size;
      height: $icon-size;
      margin: 2px;
      background-repeat: no-repeat;
      background-image: url('../images/app_icons_x2.png');
      background-size: $icon-size*10 $icon-size;

      &.people-finder-icon {
        background-position: 0 0;
      }

      &.courtfinder-icon {
        background-position: -$icon-size 0;
      }

      &.travel-booking-icon {
        background-position: -$icon-size*2 0;
      }

      &.phoenix-icon {
        background-position: -$icon-size*3 0;
      }

      &.it-portal-icon {
        background-position: -$icon-size*4 0;
      }

      &.civil-service-learning-icon {
        background-position: -$icon-size*5 0;
      }

      &.jobs-icon {
        background-position: -$icon-size*6 0;
      }

      &.moj-story-icon {
        background-position: -$icon-size*7 0;
      }

      &.webchat-icon {
        background-position: -$icon-size*8 0;
      }

      &.pension-icon {
        background-position: -$icon-size*9 0;
      }
    }
  }

  .menu-my-moj-quick-links-container ul {
    a {
      @extend %medium-copy;
      text-decoration: underline;
    }

    .menu-item {
      margin-top: 10px;

      &:first-of-type a {
        margin-top: 0;
      }
    }
  }
}
