.my-moj {
  $icon-size: 32px;

  margin-top: 20px;

  .apps-container {
    .category-name {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .apps-list {
    @include clearfix;

    .app-item {
      float: left;
      width: 50%;
      margin-bottom: 15px;
      text-align: left;
    }

    .app-link {
      @extend %small-copy;
      display: block;
      line-height: 16px;
      text-decoration: none;

      &:after {
        display: none;
      }

      &:hover {
        .app-name {
          text-decoration: underline;
        }

        .app-icon-inner {
          background-image: url('../images/app_icons_x2_hover.png');
        }
      }
    }

    .app-name {
      display: inline-block;
      width: 70%;
      padding-left: 10px;
      vertical-align: middle;
    }

    .app-icon {
      display: inline-block;
      width: $icon-size + 2;
      height: $icon-size + 2;
      max-width: $icon-size + 2;
      max-height: $icon-size + 2;
      margin: 0 auto;
      background-color: $white;
      border: 1px solid $grey-2;
      vertical-align: middle;
    }

    .app-icon-inner {
      display: inline-block;
      width: $icon-size;
      height: $icon-size;
      background-repeat: no-repeat;
      background-image: url('../images/app_icons_x2.png');
      background-size: $icon-size*10 $icon-size;



      &.people-finder-icon {
        background-position: 0 0;
      }

      &.courtfinder-icon {
        background-position: -$icon-size 0;
      }

      &.travel-booking-icon {
        background-position: -$icon-size*2 0;
      }

      &.phoenix-icon {
        background-position: -$icon-size*3 0;
      }

      &.it-portal-icon {
        background-position: -$icon-size*4 0;
      }

      &.civil-service-learning-icon {
        background-position: -$icon-size*5 0;
      }

      &.jobs-icon {
        background-position: -$icon-size*6 0;
      }

      &.moj-story-icon {
        background-position: -$icon-size*7 0;
      }

      &.webchat-icon {
        background-position: -$icon-size*8 0;
      }

      &.pension-icon {
        background-position: -$icon-size*9 0;
      }
    }
  }

  .quick-links-container {
    .category-name {
      margin-bottom: 8px;
    }

    .nested-menu {
      margin-top: 0;
    }

    .category-item {
      margin-bottom: 10px;
    }

    .menu-link {
      @extend %medium-copy;
      text-decoration: underline;
    }

    ul {
      a {
        @extend %medium-copy;
        text-decoration: underline;
      }

      .menu-item {
        margin-top: 10px;

        &:first-of-type a {
          margin-top: 0;
        }
      }
    }
  }

  .agency-link-list {
    &.hidden {
      display: none;
    }

    .agency {
      a {
        @include clearfix;
        display: block;
        padding: 0;

        &:hover {
          text-decoration: none;

          .department-icon-box {
            background-color: $govuk-blue;
          }

          .label {
            text-decoration: underline;
          }
        }
      }

      .department-icon-box {
        display: inline-block;
        padding: 3px;
        border: 1px solid $grey-2;
        vertical-align: middle;

        .department-icon {
          float: none;
          display: block;
          margin: 0;
        }
      }

      .label {
        @extend %large-copy;
        display: inline-block;
        width: 85%;
        padding-left: 10px;
        vertical-align: middle;
      }
    }
  }
}

.header-my-moj {
  position: relative;

  .apps-container .category-name {
    display: none;
  }

  &.visible {
    .my-moj {
      display: block;
    }
  }

  .arrow {
    @extend %small-copy;
  }

  .my-moj {
    position: absolute;
    right: 0;
    display: none;
    width: 370px;
    margin-top: 0;
    padding: 30px 30px 20px;
    z-index: 1;
    background-color: $white;
    border-color: #979797;
    border-style: solid;
    border-width: 0 1px 1px;

    .category-name {
      @extend %large-heading;
      border-bottom: 2px solid $grey-1;
    }

    //we need to apply quite a few overrides to counter the main menu style - to be fixed when we get rid of dw-menu plugin
    .quick-links-container {
      .categories-list {
        display: block;
      }

      .category-item {
        .category-link {
          display: inline-block;
          border: none;
          color: $govuk-blue;
          font-weight: normal;
          line-height: 20px;
          text-align: left;

          &:hover {
            background-color: transparent;
            color: $link-active-colour;
          }
        }
      }
    }
  }
}
