.news-widget {
  &.news-list-widget {
    &.no-news .news-list {
      display: none;
    }

    .news-item {
      border-top: 1px solid $grey-2;
      padding-top: 10px;

      .template-regional-landing &.first {
        border-top: none;
        padding-top: 0;
      }
    }

    .news-item {
      @include clearfix;
      margin: 10px 0;
    }

    .news-thumbnail {
      max-width: 100px;
    }

    .news-thumbnail-container {
      float: left;
      margin-right: 10px;
    }

    .news-content {
      overflow: hidden;
    }

    .no-news-message {
      display: none;

      &.visible {
        display: block;
      }
    }
  }

  .news-thumbnail {
    max-width: 100%;
  }
}
