.search-form {
  position: relative;
  width: 500px;
  padding: 3px 0; /* room for the outline */

  .keywords-field {
    display: block;
    width: 100%;
    height: 36px;
    padding-left: 10px;
    padding-right: 46px;
    border: 1px solid $grey-2;
  }

  .clear {
    display: none;
    position: absolute;
    right: 40px;
    top: 13px;
    width: 15px;
    height: 15px;
    background-image: url('../images/clear_icon_x2.png');
    background-size: 100% 100%;
    content: "";
    cursor: pointer;
  }

  &.filled .clear {
    display: block;
  }

  .search-btn {
    position: absolute;
    right: 0px;
    top: 3px;
    bottom: 3px;
    width: 36px;
    padding: 0;
    overflow: hidden;
    background-color: $govuk-blue;
    border-width: 0;
    background-image: url('../images/search_icon_x2.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    text-indent: -5000px;
  }
}

@include mobile-mq() {
  .search-form {
    width: 100%;

    .keywords-field {
      padding-right: 10px;
    }
  }
}
