.share-via-email-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  vertical-align: top;
  background-image: url('../images/link_icon_x2.png');
  background-size: 100% 100%;
}

.share-via-email {
  @extend %medium-copy;
}
