// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-article-excerpt {
  // For example, this would appear on a page
  p {
    color: $text;
    font-size: $outerCore;
    line-height: $lineHeight*1.4;
    font-weight: bold;
  }

// Parent overrides
  .c-article-item & {
    // For example, this would appear as excerpt on homepage items
    p {
      font-size: 1.6rem;
      margin-bottom: 0;
      font-weight: 300;
    }
  }

  .c-news-article & {
    margin: 0;
  }
}
