.c-people-updates {
  .o-title--section {
    width: 550px;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;

    @media only screen and (min-width: 740px) {
      width: 100%;
      margin-top: 8rem;
      margin-bottom: 4rem;
    }
  }

  &__archive-button {
    margin-top: 3rem;
    margin-bottom: 5rem;

    @media only screen and (min-width: 740px) {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

    &:hover {
      color: #fff;
    }
  }
}
