// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-most-popular {

  ul{
    li {
      margin-bottom: 1rem;
    }
  }

  margin-bottom: 50px;

}

.page-template-page {

  .c-most-popular {

    h1 {
      font-size: 2.4rem;
      margin-top: 50px;
      border: none;
    }

  }

}
