// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-most-popular {
  margin-bottom: $spacing;
  line-height: 1;

  a {
    font-size: $outerCore;
  }

  .o-title {
    &--subtitle {
      font-size: 2.4rem;
      margin-bottom: 2rem;
      border: none;
    }
  }

  ul{
    li {
      margin-bottom: $spacing;
    }
  }

  .c-rich-text-block & {
    margin-top: $spacing*3;

    .o-title {
      &--subtitle {
        font-size: $mantle;
        margin-top: $spacing*5;
      }
    }

    ul {
      list-style: none;
      margin-left: 0;
      li {
        line-height: 1;
        list-style-type: none;
      }
    }
  }
}
