// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-most-popular {
  margin-bottom: $spacing;
  line-height: 1;

  a {
    font-size: $outerCore;
  }

  .o-title {
    &--subtitle {
      font-size: 2.4rem;
      margin-bottom: 2rem;
      border: none;
    }
  }

  ul{
    li {
      margin-bottom: $spacing;
    }
  }
}
