.template-single-event .template-container {
  .title {
    @extend %largest-heading;
    margin-top: 50px !important;
  }

  .results-item {
    margin-top: 10px;

    .content {
      margin-top: 0px;
    }

    .content.editable {
      margin-top: 20px;
    }

    .meta {
      position: static;

      ul {
        margin-top: 0;
      }

      .label,
      .value {
        @extend %medium-copy;
      }

      .label {
        width: 85px;
      }
    }
  }

  .content {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
