.my-moj {
  position: relative;
  margin-top: 20px;
  background-color: #ececec;

  .help-icon {
    position: absolute;
    right: 20px;
    top: 17px;
    width: 20px;
    height: 20px;
    background-image: url('../images/question_mark_x2.png');
    background-size: 100%;
  }

  .category-name {
    border-bottom: 1px solid $grey-1;
    font-weight: normal;
  }

  .apps-container {
    .category-name {
      margin-top: 0;
    }
  }

  [data-department="select-department"]:before {
    background-position: 100px 100px;
  }

  [data-department="legal-aid-agency"],
  [data-department="hm-courts-and-tribunals-service"],
  [data-department="judicial-office"],
  [data-department="opg"],
  [data-department="ospt"] {
    &:before {
      background-position: -12px -12px;
    }
  }

  [data-department="judicial-appointments-commission"]:before {
    background-position: -62px -12px;
  }

  [data-department="law-commission"]:before {
    background-position: -112px -12px;
  }

  [data-department="probation"]:before {
    background-position: -162px -12px;
  }

  .my-moj-top {
    padding: 10px 30px;
    background-color: $turquoise;

    .department-dropdown-box {
      display: inline-block;
      width: 100%;

      &:before {
        display: inline-block;
        width: 26px;
        height: 25px;
        margin-right: 0px;
        background-repeat: no-repeat;
        text-align: center;
        vertical-align: text-bottom;
        color: $white;
      }

      &[data-department]:before {
        background-image: url('../images/department_crest_white_x2.png');
        background-size: 200px 50px;
        content: "";
      }

      &[data-department="select-department"]:before {
        background-image: none;
        content: "\25be";
      }
    }

    .department {
      @extend %medium-copy;
      max-width: 255px;
      height: 33px;
      padding-left: 0;
      padding-right: 0;
      background: transparent;
      color: $white;
      border-radius: 0;
      border: none;
      box-shadow: none;
      font-family: Helvetica;

      option {
        padding: 10px 40px;
        background-color: $white;
        color: $black;

        &:before {
          display: inline-block;
          width: 26px;
          height: 25px;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-image: url('../images/department_crest_x2.png');
          background-size: 200px 50px;
          vertical-align: text-bottom;
          content: "";
        }
      }
    }
  }

  .my-moj-body {
    padding: 30px;
  }

  .apps-list {
    margin-right: -10px;
    @include clearfix;

    .app-item {
      float: left;
      width: 74px;
      height: 135px;
      margin-right: 12px;
      text-align: center;

      &:hover {
        .app-icon {
          border: 1px solid $dw-warning;
        }
      }
    }

    .app-link {
      @extend %small-copy;
      display: block;

      &:after {
        background-image: none;
      }
    }

    .app-name {
      display: block;
      text-align: center;
    }

    .app-icon {
      display: inline-block;
      width: 74px;
      height: 74px;
      max-width: 74px;
      max-height: 74px;
      margin: 0 auto;
      background-color: $white;
      border: 1px solid $grey-2;
      border-radius: 5px;
    }

    .app-icon-inner {
      display: inline-block;
      width: 64px;
      height: 64px;
      margin: 4px;
      background-repeat: no-repeat;
      background-image: url('../images/app_icons_x2.png');
      background-size: 640px 64px;

      &.people-finder-icon {
        background-position: 0 0;
      }

      &.courtfinder-icon {
        background-position: -64px 0;
      }

      &.jobs-icon {
        background-position: -128px 0;
      }

      &.iexpense-icon {
        background-position: -192px 0;
      }

      &.civil-service-learning-icon {
        background-position: -256px 0;
      }

      &.travel-booking-icon {
        background-position: -320px 0;
      }

      &.phoenix-icon {
        background-position: -384px 0;
      }

      &.online-toolkit-icon {
        background-position: -448px 0;
      }

      &.hmcts-intranet-icon {
        background-position: -512px 0;
      }
    }
  }

  .quick-links-list {
    a {
      @extend %medium-copy;
      text-decoration: underline;
    }

    .quick-link-item {
      margin-top: 10px;

      &:first-of-type a {
        margin-top: 0;
      }
    }
  }
}
