/*
  @Component: Search bar
  @Creator: Alex Foxleigh
  @Description: Lives in the header-container component and contains the main search bar for the site
*/

// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-search-bar {
  clearfix();
  padding: 0 0 $spacing*2 0;
  &__container {
    margin: 0 $spacing;
    +above(m) {
      column(1/2);
      margin:0;
    }
    position: relative;
  }

  input {
    position: relative;
    span(1);
    height: $spacing*3.6;
    padding-right: $spacing*5;
    border: 1px solid $border;
  }

  button {
    position: absolute;
    right:0;
    background-color: $primary;
    color: $light;
    span {
      display: none;
    }
    &:hover {
      cursor: pointer;
      color: $linkFocus;
    }
  }

  // PARENT OVERRIDES
  .c-header-container & {
    background-color: $primary;
    padding: $spacing*2 0;
    input {
      border: 0;
    }
    button {
      background-color: $dark;
    }
    .agency-opg & {
     background-color: $opg_primary;
    }
  }

}
