// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit"

.c-search-bar {
  ieoldcf();
  padding-right: 0;
  height: 80px;
  &__container {
    width: 50%;
    height: 40px;
    overflow: hidden;
  }
  input {
    height: 40px;
    padding-right:0;
    overflow: hidden !important;
  }

  button {
    width: 40px;
    height: 40px;
  }
}
