/*
  @Component: Header container
  @Creator: Alex Foxleigh
  @Description: Contains the logo-bar, search-bar and main-nav-bar components
*/

// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-header-container {
  margin-bottom: $spacing;
}
