.content-nav {
  @extend %larger-copy;
  @include clearfix;

  li {
    &:before,
    &:after {
    }

    &.disabled {
      visibility: hidden;
    }

    &.previous,
    &.next {
      a {
        background-repeat: no-repeat;
        background-size: 21px 38px;

        &:hover {
          background-color: $grey-4;
        }

        &:focus {
          background-color: $yellow;
          outline: none;
        }
      }

      .nav-label {
        padding: 10px 25px;
      }
    }

    &.previous {
      float: left;

      a {
        background-image: url("../images/chevron_left_x2.png");
        background-position: left 6px;
      }

      .nav-label {
        display: block;
        text-align: left;
      }

      .page-info {
        padding-left: 25px;
        text-align: left;
      }
    }

    &.next {
      float: right;

      a {
        background-image: url("../images/chevron_right_x2.png");
        background-position: right 6px;
      }

      .nav-label {
        display: block;
        text-align: right;
      }

      .page-info {
        padding-right: 25px;
        text-align: right;
      }
    }

    a {
      display: block;
      text-decoration: none;
    }

    .page-info {
      @extend %small-copy;
      display: block;
      padding-top: 5px;
      color: $grey-1;
    }
  }
}
