// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-external-services {
  ul{
    li{
      width: 50%;
      float: left;
      line-height: 1.5;
      a{
        color: white;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        text-decoration: underline;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
