// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-external-services {
  ul{
    li{
      width: 50%;
      float: left;
      a{
        color: white;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
