.news-single {
  h1 {
    margin-bottom: 25px;
    border-bottom: none;
  }

  .content {
    margin-bottom: 45px;
  }

  .excerpt {
    @extend %larger-copy;
    margin-top: 45px;
    margin-bottom: 20px;
  }
}
