// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-footer {
  padding: $spacing;
  background: $boxBg;
  +above(m) {
    padding: 0;
    margin-top: $spacing*4;
  }
  .c-copyright-notice {
    color: #3c3c3b;
  }
  
  .feedback__prompt-success {
    background-color: #005ea5;
    color: #fff;
    outline: 0px;
    width: 23%;
    display: table-cell;
    text-align: left;
    font-size: 1rem;
    line-height: 1.25;
    font-size: medium;
    line-height: 1.25;
    border-top: 2px solid #abb8c3;
    padding: 10px 25px 10px 25px;
    box-sizing: border-box;
    font-weight: 200;
  }
}
