.template-blog-post .template-container {
  h1 {
    margin-bottom: 25px;
    margin-top: 50px;
    border-bottom: none;
  }

  .content {
    margin-bottom: 45px;
  }

  .story-image {
    margin-top: 17px;
    margin-right: 30px;

    img {
      max-width: 100%;
    }
  }

  .excerpt {
    @extend %larger-copy;
    margin-top: 45px;
    margin-bottom: 20px;
  }

  .content.editable {
    margin-top: 40px;

    img {
      float: none;
    }
  }

  .author-thumbnail {
    float: left;
    max-width: 128px;
    margin-right: 20px;
  }

  .likes-row.hidden {
    display: none;
  }

  .like-container {
    display: none;

    &.loaded {
      display: block;
    }

    &.voted {
      .like-link {
        text-decoration: none;
        color: $grey-1;
        cursor: default;
      }
    }

    .like-link {
      @extend %medium-copy;
      display: inline-block;
    }

    .like-description {
      @extend %medium-copy;
    }

    .like-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 5px;
      background-image: url("../images/thumbs_up_x2.png");
      background-size: 100% 100%;
      vertical-align: top;
    }
  }

  .summary {
    @include clearfix;
    padding: 10px 0;
    border-style: solid;
    border-color: $grey-2;
    border-width: 1px 0;

    li {
      float: left;
      margin-right: 20px;
    }
  }
}
