// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-feedback-form {
	clear:both;
  margin-top: $spacing*2;
  +above(m) {
    column(1/2);
  }
  	// this button requires 1rem of spacing above it.
  .o-button {
  	margin-top: $spacing;
  }
}
