.template-single-news .template-container {
  .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    background-image: url("../images/blog_icons_x2.png");
    background-size: auto 100%;
    vertical-align: top;
  }

  h1 {
    margin-bottom: 25px;
    margin-top: 50px;
    border-bottom: none;
  }

  .content {
    margin-bottom: 45px;
  }

  .story-image {
    margin-top: 17px;
    margin-right: 30px;

    img {
      max-width: 100%;
    }
  }

  .excerpt {
    @extend %larger-copy;
    margin-top: 45px;
    margin-bottom: 20px;
  }

  .post-social-actions {
    @include clearfix;
    padding: 10px 0;
    border-style: solid;
    border-color: $grey-2;
    border-width: 1px 0;
  }
}
