.template-single-news .template-container {
  h1 {
    margin-bottom: 25px;
    margin-top: 50px;
    border-bottom: none;
  }

  .author-thumbnail {
    float: left;
    max-width: 80px;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
  }

  .info-list {
    font-size:  19px;
    line-height: 25px;
    color: #6F777B;
    padding-top: 15px;

    span {
      display: inline;
      padding: 0;
    }
  }

  .content {
    margin-bottom: 45px;
  }

  .story-image {
    margin-top: 17px;
    margin-right: 30px;

    img {
      max-width: 100%;
    }
  }

  .excerpt {
    @extend %larger-copy;
    margin-top: 45px;
    margin-bottom: 20px;
  }
}
