.a-z,
.a-z-2 {
  .content-filters {
    margin-top: 0;
  }

  .letters {
    margin-top: 20px;

    li {
      display: inline-block;
      padding: 2px 10px;

      &.selected,
      &:first-of-type, /* temporary only */
      &:hover {
        background-color: $grey-2;
        cursor: pointer;
      }
    }
  }

  .results {
    margin-top: 60px;

    .result {
      border-top: 1px solid $grey-2;
      padding: 10px 0;
    }

    .title {
      @extend %body-copy;
      margin: 0;
      font-weight: normal;
    }

    .description {
    }
  }
}

.a-z-2 {
  h2 {
    margin-bottom: 60px;
  }

  .letters {
    margin-top: 0;

    li {
      padding: 2px 4px;
    }
  }

  .results-column {
    border-left: 1px solid $grey-2;
  }

  @include mobile-mq {
    .letters {
      margin-top: 40px;
      text-align: center;
    }
  }
}
