.a-z {
  .sort {
    display: inline-block;
    margin-top: 30px;
    padding-left: 0;

    li {
      display: inline-block;
      border-radius: 10px;
      vertical-align: bottom;

      &:hover,
      &.selected {
        .icon {
          background-color: #428bca;
        }
      }

      a {
        display: block;
        padding-right: 20px;
        text-align: center;
        text-decoration: none;
      }

      .icon {
        display: inline-block;
        margin: 0 auto;
        width: 30px;
        height: 30px;
        background-color: #ddd;
        line-height: 30px;
        color: $white;

        .selected & {
          background-color: #428bca;
        }
      }

      .label {
        @extend %smallest-copy;
        display: inline-block;
        color: #333;
      }

      &[data-sort-type="popular"] {
        margin-right: 15px;
        .icon {
          line-height: 25px;
          font-size: 25px;

          &:after {
            content: "\2605";
          }
        }
      }

      &[data-sort-type="alphabetical"] {
        .icon {
          font-weight: bold;
          font-size: 15px;

          &:after {
            content: "A";
          }
        }
      }
    }
  }

  .categories,
  .subcategories,
  .links {
    float: left;
    width: 33%;
    box-sizing: border-box;
  }
}
