// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit"

.c-share-post {
  ieoldcf()
  li {
    zoom: 1;
    display: inline;
    margin-right: 15px;
    .u-icon {
      margin-right: 5px;
    }
  }
}
