// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-content-filter {
  margin-bottom: $spacing;

  .c-input-box{
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: .5rem;
    padding: 1rem .6rem;
    border: 1px solid hsla(0,0%,71%,.561);
    font-size: 1.9rem;
    line-height: 1.2;

    .c-input-container--checkbox{
      label{
        margin: 0 0 5px 0;
      }
      input{
        top: auto;
        left: 1px;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  +above(m) {
    margin-bottom: 0;
  }
  fieldset {
    position: relative;
    border: 1px solid $border;
    padding: $spacing;
    margin-top: $spacing*4;
  }

  legend {
    position: absolute;
    left:0;
    top: -($spacing)*3;
    display: block;
    font-weight: bold;
    font-size: $outerCore;
  }
  #ff_button_submit{
    display: inline-block;
    color: $light;
    background-color: $button-colour;
    -webkit-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    padding: $spacing $spacing*3;
    border: 0;
    font-size: $outerCore;
    cursor: pointer;
    text-decoration:none;
    &:hover {
      background: $green-hover;
      cursor: pointer;
      color: $light;
    }
  }

  &.c-content-filter--people-promise {
    margin-top: 2rem;
    margin-bottom: 5rem;

    +above(m) {
      margin-top: 4rem;
      margin-bottom: 5rem;
    }

    .c-content-filter__toggle {
      margin-bottom: 2rem;
      padding-left: 0;
      padding-right: 0;

      &[aria-expanded="true"] {
        outline: 3px solid $linkFocus;
        background-color: $linkFocus;
      }
    }

    .c-input-container {
      clearfix();
    }

    form {
      margin-bottom: 2rem;
      +above(m) {
        margin-bottom: 5rem;
      }
    }

    #ff_state {
      display: none;
      margin-bottom: 1rem;
      +above(m) {
        margin-bottom: 2.5rem;
      }
    }
    .c-content-filter__clear {
      display: none;
    }

    &.c-content-filter--collapsed {

      form {
        display: none;
      }

      &.c-content-filter--has-filter {
        #ff_state {
          display: block!important;
        }
        .c-content-filter__clear {
          display: block!important;
        }
      }
    }
  }





}
