// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-events-item-byline {
  +above('m') {
  float:left;
  column(2/3);
  }

  column(1);
  header {
    overflow: hidden;
  }

  time {
    display: block;
    border: 0;
  }

  h1 {
    font-size: $outerCore;
    ff-title();
    margin-bottom: $spacing*1;
  }

  &__time, &__location, &__date {
    column(1);
    float:left;
    display: block;
  }

  &__time, &__location, &__date {
    h2 {
      float:left;
      font-weight: bold;
      padding-right: $spacing*1;
      margin-bottom: $spacing*.5;
    }
    time,
    address {
    }
  }

    &__details {
      clear: both;
    }
  }

  .c-events-item-homepage & {
      column(1);
      h1 {
        font-size: $innerCore;
      }
    }
/* PARENT OVERIDES */
