// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-feedback-container {
 	overflow: hidden;
	.o-arrow-toggle-link {
		float: left;
		width: 100%;
		text-align: left;
		padding-left: 0;
	}
}
