// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-events {
  header {
    overflow: hidden;
    margin-bottom: $spacing*2
  }

  h1 {
    font-size: $crust;
    ff-title();
    margin-bottom: $spacing*3;
  }

  &__time, &__location {
    display: block;
  }

  &__time, &__location {
    h2 {
      float:left;
      font-weight: bold;
      padding: 0 $spacing 0 $spacing*3;
    }
    time,
    address {
    }
  }

  &__details {
    clear: both;
  }
}
