// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-breadcrumbs {
  padding: 1rem 0 0.5rem 0;

}

.c-breadcrumbs__list 
  margin: 0;
  padding: 0;
  list-style-type: none;

  &:after 
    content: "";
    display: block;
    clear: both;

  &-item 
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    margin-left: 2px;
    float: left;

    &--separated 
      padding-left: 15.655px;
      margin-left: 10px;

      &:before 
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -3.31px;
        width: 7px;
        height: 7px;
        margin: auto 0;
        transform: rotate(45deg);
        border: solid;
        border-width: 1px 1px 0 0;
        border-color: #505a5f;
        