.template-search-results .template-container {

  .search-form {
    margin-bottom: 40px;
  }

  .page-title {
    border-bottom: none;
  }

  .content-filters {
    margin: 0px 40px 20px 0px;

    select {
      border-radius: 0;
    }

    & + p {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }

  .results {
    margin-top: 0;
  }

  .search-results-title {
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .search-filtered-results-title {
    .results-count {
      @extend %large-heading;
      font-weight: bold;
    }

    .results-count-description {
      @extend %large-copy;
      font-weight: bold;
    }
  }

  .no-results-info {
    h4 {
      margin-bottom: 0;
    }

    &.hidden {
      display: none;
    }
  }

  .no-keywords-info {
    h4 {
      margin-bottom: 0;
    }

    &.hidden {
      display: none;
    }
  }

  .search-item {
    &.faded {
      opacity: .3;
    }

    .title {
      margin-top: 30px;
    }

    .meta {
      color: $grey-1;
    }

    .title,
    .meta {
      margin-bottom: 5px;
    }

    .excerpt {
      @extend %medium-copy;
    }

    .file {
      margin-top: 5px;
      color: $grey-1;

      .file-link {
        text-decoration: underline;
      }
    }
  }

  .search-link {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:before {
      @extend %small-copy;
      display: inline-block;
      padding-right: 5px;
      vertical-align: middle;
      color: $grey-1;
      font-weight: normal;
    }

    &:after {
      content: "";
    }

    &[href$=".pdf"]:before {
      content: "[PDF] ";
    }

    &[href$=".doc"],
    &[href$=".dot"],
    &[href$=".docx"],
    &[href$=".docm"],
    &[href$=".dotx"],
    &[href$=".dotm"],
    &[href$=".docb"] {
      &:before {
        content: "[DOC] ";
      }
    }

    &[href$=".xls"],
    &[href$=".xlt"],
    &[href$=".xlm"],
    &[href$=".xlsx"],
    &[href$=".xlsm"],
    &[href$=".xltx"],
    &[href$=".xltm"],
    &[href$=".xlsb"],
    &[href$=".xla"],
    &[href$=".xlam"],
    &[href$=".xll"],
    &[href$=".xlw"] {
      &:before {
        content: "[XLS] ";
      }
    }

    &[href$=".ppt"],
    &[href$=".pot"],
    &[href$=".pps"],
    &[href$=".pptx"],
    &[href$=".pptm"],
    &[href$=".potx"],
    &[href$=".potm"],
    &[href$=".ppam"],
    &[href$=".ppsx"],
    &[href$=".ppsm"],
    &[href$=".sldx"],
    &[href$=".sldm"] {
      &:before {
        content: "[PPT] ";
      }
    }
  }
}
