.template-search-results .template-container {
  .page-title {
    border-bottom: none;
  }

  .content-filters {
    margin-top: 24px;
  }

  .search-results-title {
    font-weight: normal;
    margin-bottom: 50px;
  }

  .search-filtered-results-title {
    .results-count {
      @extend %large-heading;
      font-weight: bold;
    }

    .results-count-description {
      @extend %large-copy;
      font-weight: bold;
    }
  }

  .no-results-info {
    h4 {
      margin-bottom: 0;
    }

    &.hidden {
      display: none;
    }
  }

  .search-item {
    &.faded {
      opacity: .3;
    }

    .title {
      margin-top: 30px;
    }

    .meta {
      color: $grey-1;
    }

    .title,
    .meta {
      margin-bottom: 5px;
    }

    .excerpt {
      @extend %medium-copy;
    }

    .file {
      margin-top: 5px;
      color: $grey-1;

      .file-link {
        text-decoration: underline;
      }
    }
  }

  .search-link {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:before {
      @extend %small-copy;
      display: inline-block;
      padding-right: 5px;
      vertical-align: middle;
      color: $grey-1;
      font-weight: normal;
    }

    &:after {
      content: "";
    }

    &[href$=".pdf"]:before {
      content: "[PDF] ";
    }

    &[href$=".doc"]:before {
      content: "[DOC] ";
    }

    &[href$=".xls"],
    &[href$=".xlsx"] {
      &:before {
        content: "[XLS] ";
      }
    }

    &[href$=".pps"]:before {
      content: "[PPS] ";
    }

    &[href$=".ppt"]:before {
      content: "[PPT] ";
    }
  }
}
