a:focus {
  outline: 3px solid $yellow;
  background-color: $yellow;
}

input,
select,
textarea {
  border: none;

  &:focus {
    outline: 3px solid $yellow;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
