a:focus {
  outline: 3px solid $yellow;
  background-color: $yellow;
}

input,
select,
textarea {
  border: none;

  &:focus {
    outline: 3px solid $yellow;
  }
}

.sr-only {
  display: inline-block;
  width: 0;
  overflow: hidden;
}
