.clearfix {
  &:after {
    content: "";
    display: table-cell;
    clear: both;
  }
}

.news_date {
  color: #6f777b;
}

.template-partial {
  display: none;
}

.content-wrapper {
  margin: 15px 0 60px 0;
}

.main-content {
  ul li {
    line-height: 1.4;
  }

  .info-list {
    display: table;

    li {
      display: table-row;
    }

    span {
      display: table-cell;
      padding-right: 15px;
    }
  }

  select {
    width: 100%;
    padding: 5px 20px 5px 10px;
    box-shadow: 1px 1px 1px $white;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-user-select: none;
    background: url("../images/dropdown_background_x2.png") no-repeat scroll right center $white;
    background-size: auto 100%;
    border: 1px solid $grey-2;
    border-radius: 5px;
  }

  .content-info {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid $grey-2;

    p {
      @extend %medium-copy;
      margin: 10px 0;
    }

    .print,
    .share {
      &:before {
        display: inline-block;
        background-repeat: no-repeat;
        content: "";
        margin-right: 10px;
      }
    }

    .print {
      &:before {
        width: 20px;
        height: 21px;
        background-image: url("../images/printer.png");
        vertical-align: text-bottom;
      }
    }

    .share {
      &:before {
        width: 19px;
        height: 14px;
        margin-left: 20px;
        background-image: url("../images/email_x2.png");
        background-size: 100%;
        vertical-align: middle;
      }
    }

    .last-updated {
      color: $grey-1;
    }
  }
}
