.main-content .editable {
  h2 {
    margin-top: 50px;

    &:first-of-type {
      margin-top: 24px;
    }
  }

  p, li {
    @extend %large-copy;
  }

  p {
    margin-top: 17px;
    margin-bottom: 17px;
  }

  ul {
    margin: 12px 0;
    padding-left: 16px;
  }

  img,
  .imageBox {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
  }

  .imageBox {
    img {
      float: none;
      margin: 0;
    }

    span {
      display: none;
    }
  }

  ul li {
    margin: 0;
    padding-left: 5px;
    list-style-type: disc;
    list-style-image: url('../images/bullet.gif');
  }

  ul,
  ol {
    li + li {
      margin-top: 8px;
    }
  }

  ol li {
    padding-left: 10px;
  }

  a {
    text-decoration: underline;
  }

  ol {
    padding-left: 20px;

    li {
      list-style-type: decimal;
    }
  }

  blockquote {
    margin-left: 0;

    p {
      padding-left: 30px;

      &::before {
        clear: both;
        content: "“";
        float: left;
        margin-left: -15px;
      }
    }
  }

  table {
    width: 100%;

    th,
    td {
      @extend %medium-copy;
      padding: 12px 20px 9px 0;
      border-bottom: 1px solid $grey-2;
      text-align: left;
      vertical-align: top;

      &.left {
        text-align: left;
      }

      &.center {
        text-align: center;
      }

      &.right {
        text-align: right;
      }

    }
  }

  .address {
    @extend %large-copy;
    border-left: 1px solid $grey-2;
    padding-left: 15px;
    padding: 7px 0 3px 15px;
  }

  .contact {
    @extend %large-copy;
  }

  .info-notice {
    padding: 20px 0 16px;
    border-left: 10px solid $grey-2;
  }

  .help-notice {
    @extend %large-copy;
    position: relative;
    padding-left: 50px;
    padding-top: 12px;
    padding-bottom: 8px;

    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      left: 0;
      top: 50%;
      width: 35px;
      height: 35px;
      margin-top: -17px;
      background: url('../images/icon-important.png') no-repeat;
    }
  }

  .example {
    border-left: 10px solid $grey-3;
  }


  .info-notice,
  .example {
    @extend %large-copy;
    padding-left: 15px;
  }

  .summary {
    @extend %large-copy;
  }

  ol.steps {
    $step-icon-size: 24px;
    padding-left: 0;

    li {
      list-style-type: none;
      counter-increment: step-counter;
      padding: 15px 0;

      &::before {
        display: inline-block;
        width: $step-icon-size;
        height: $step-icon-size;
        margin-right: 10px;
        border-radius: $step-icon-size/2;
        background-color: $black;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        content: counter(step-counter);
      }
    }
  }
}
