form.standard {
  .form-row {
    display: block;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .required {
    color: $red;
  }

  .label {
    @extend %medium-copy;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .small-label {
    @extend %small-copy;
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  textarea {
    padding: 3px 6px;
    border: 1px solid #888;
  }

  select {
    padding: 3px 6px;
    border: 1px solid #888;
  }
}
