form.standard {
  max-width: 400px;

  .form-row {
    display: block;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .description {
    @extend %medium-copy;
    margin-bottom: 20px;
  }

  .required {
    color: $red;
  }

  .label {
    @extend %medium-copy;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .small-label {
    @extend %small-copy;
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="password"],
  textarea {
    padding: 3px 6px;
    border: 1px solid #888;
    width: 400px;
  }

  select {
    padding: 3px 6px;
    border: 1px solid #888;
  }

  .field-action {
    margin-top: 10px;
  }

  .secondary-action {
    margin-top: 20px;
  }
}
