.validation-summary {
  margin-bottom: 20px;
  padding: 15px 60px;
  border: 3px solid $red;

  .please-fix {
    @extend %large-copy;
    font-weight: bold;
  }

  .errors {
    margin-top: 5px;

    .field {
      @extend %large-copy;
      color: $red;
      font-weight: bold;
    }
  }
}

.validation-error {
  padding-left: 15px;
  border-left: 3px solid $red;

  .validation-message {
    @extend %large-copy;
    margin-bottom: 10px;
    color: $red;
    font-weight: bold;

    a {
      color: $red;
      text-decoration: underline;
    }
  }
}
