form#loginform, form#registerform {
  margin-top: 20px;
  label {
    @extend %medium-copy;
    display: block;
  }
  input {
    @extend %medium-copy;
    &[type=text], &[type=password] {
      display: block;
      border: 1px solid $grey-2;
      padding: 5px;
      width: 100%;
    }
    &[type=submit] {
      background-color: $grey-2;
      padding: 5px;
      width: 100%;
    }
  }
}

.login-message, .register-message {
  @extend %medium-copy;
  width: 100%;
  display: block;
  padding: 10px;
  margin-top: 20px;
  color: $white;
  font-weight: bold;
  &.error {
    background-color: $red;
  }
  &.info {
    background-color: $govuk-blue;
  }
}