.template-news-landing .template-container {
  h1 {
    border-bottom: none;
  }

  .filters-label {
    margin-bottom: 10px;
  }

  .content-filters {
    margin-top: 0px;
    margin-right: 40px;

    select {
      border-radius: 0;
    }
  }

  .news-results-title {
    border-bottom: 1px solid $grey-1;
  }

  .news-filtered-results-title {
    .results-count {
      @extend %large-heading;
      font-weight: bold;
    }

    .containing,
    .for-date {
      @extend %large-copy;
      font-weight: normal;
    }

    .results-count-description,
    .keywords,
    .date {
      @extend %large-copy;
      font-weight: bold;
    }
  }

  .news-item {
    @include clearfix;
    padding: 15px 0;
    border-bottom: 1px solid $grey-2;
    transition: opacity .3s;

    &.faded {
      opacity: .3;
    }

    .thumbnail-container {
      float: left;
      width: 150px;
      margin-right: 20px;

      .news-link {
        display: block;
      }

      img {
        display: block;
        max-width: 100%;
      }
    }

    .content {
      overflow: hidden;
    }

    .meta {
      span {
        color: $grey-1;
      }
    }

    .title {
      @extend %medium-heading;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .excerpt {
      margin-top: 10px;
    }
  }
}

@include mobile-mq() {
  .template-news-landing .template-container  {
    .content-filters {
      margin-bottom: 20px;
    }
  }
}
