// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

  .c-condolence-header {
    color: #FFFFFF;
    background: #000000;
    padding 20px 20px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
