// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-emergency-banner {
  clearfix()
  position: relative;
  margin-top: $spacing*2;
  width: 100%;
  +above(m) {
    min-height: 12rem;
    height: auto;
    overflow: hidden;
  }

  &__meta {
    padding: $spacing*2 $spacing*2 0 $spacing*2;
    +above(m) {
      span(2/3)
      clearfix()
      height: 100%;
    }
  }
  &__content {
    cms-fixes();
    padding: 0 $spacing*2 $spacing*2 $spacing*2;
    a {
      color: $link-colour;
      font-weight: 700;
      text-decoration: underline;
      &:hover{
        color: $link-hover-colour;
      }
    }

    +above(m) {
      column(2/3)
    }
  }
  &--service {
    color: $dark;
    background: #fff;
    border: 3px solid #000;
    & ^[-1]__meta {
    }
  }
  &--emergency {
    color: $dark;
    background: #fff;
    border: 3px solid #df3034;
    & ^[-1]__meta {
    }
  }
  h1 {
    ff-title();
    font-weight: 400;
    font-size: $mantle;
  }
  // Just in case an image is used.
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
