// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-emergency-banner {
  clearfix()
  position: relative;
  margin-top: $spacing*2;
  width: 100%;
  +above(m) {
    min-height: 12rem;
    height: auto;
    overflow: hidden;
  }

  &__meta {
    padding: $spacing*2;
    min-height: 122px;

    +above(m) {
      span(1/3)
      height: 100%;
    }
  }
  &__content {
    cms-fixes();
    padding: $spacing*2;
    border-left: 2px dotted #f7f7f72e;
    a {
      color: $link-colour;
      font-weight: 700;
      text-decoration: underline;
      &:hover{
        color: $link-hover-colour;
      }
    }

    +above(m) {
      column(2/3)
    }
  }
  &--service {
    color: $dark;
    background: #ffbf47;
    & ^[-1]__meta {
    }
  }
  &--emergency {
    color: $light;
    background: #df3034;
    & ^[-1]__meta {
    }
  }
  h1 {
    ff-title();
    font-weight: 400;
    font-size: $mantle;
  }
  // Just in case an image is used.
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
