.annual-leave {
  .page-title {
    margin-top: 10px;
    border-bottom: none;
  }

  .page-category {
    @extend %larger-heading;
    margin-top: 27px;
    margin-bottom: 12px;
    font-weight: normal;
    color: $grey-1;
  }

  .right-hand-menu {
    margin-top: 40px;
    border-top: 5px solid #333;

    h3 {
      margin-top: 10px;
      margin-bottom: 14px;
    }

    a {
      @extend %medium-copy;
      text-decoration: underline;
    }
  }

  h4 {
    margin-bottom: 0px;
    font-weight: normal;
  }

  .table-of-contents {
    margin-top: 5px;

    li {
      display: block;
      border-bottom: 1px solid $grey-2;

      &:first-of-type {
        border-top: 1px solid $grey-2;
      }

      a {
        @extend %medium-copy;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  .excerpt {
    @extend %larger-copy;
    margin-top: 50px;
  }
}
