@require 'jeet';
@require '_variables';
@require '_mixins';

// This file exists for actual page modifications.
// Please style components on the specific components styl file using parent overrides.

// this css is from customiser.

.header .header-search {
	background-color: #008998;
}

.fwdbtn {
	display: inline-block;
	border-radius: 10px;
	background-color: #669;
	border: none;
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 2px;
}

.fwdbtn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.fwdbtn span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.fwdbtn:hover span {
	padding-right: 25px;
}

.fwdbtn:hover span:after {
	opacity: 1;
	right: 0;
}

.bckbtn {
	display: inline-block;
	border-radius: 10px;
	background-color: #669;
	border: none;
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 2px;
}

.bckbtn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.bckbtn span:after {
	content: '\00ab';
	position: absolute;
	opacity: 0;
	top: 0;
	left: -100px;
	transition: 0.5s;
}

.bckbtn:hover span {
	padding-left: 25px;
}

.bckbtn:hover span:after {
	opacity: 1;
	left: 0;
}

.hmebtn {
	display: inline-block;
	border-radius: 10px;
	background-color: #669;
	border: none;
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 175px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 2px;
}

.hmebtn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.hmebtn span:after {
	content: '\1F3E0';
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0px;
	transition: 0.5s;
}

.hmebtn:hover span {
	padding-right: 40px;
}

.hmebtn:hover span:after {
	opacity: 1;
	right: 0;
}

.emlbtn {
	display: inline-block;
	border-radius: 10px;
	background-color: #669;
	border: none;
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 175px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 2px;
}

.emlbtn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.emlbtn span:after {
	content: '\2709';
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0px;
	transition: 0.5s;
}

.emlbtn:hover span {
	padding-right: 40px;
}

.emlbtn:hover span:after {
	opacity: 1;
	right: 0;
}

.schmbtn1 {
	background-color: #669;
	border: none;
	color: #fff;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 0.4s;
}

.schmbtn2:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
