# A one time job to run the s3-push container once.
# It will already be built and available at: ${ECR_URL}:${IMAGE_TAG_S3_PUSHER}

apiVersion: batch/v1
kind: Job
metadata:
  name: s3-push-main-b74edbce7d2d1ad7213f9600d80b24869e9125ac
  namespace: intranet-dev
  labels:
    app: intranet-dev-s3-push
spec:
  template:
    metadata:
      labels:
        app: intranet-dev-s3-push
    spec:
      serviceAccountName: intranet-dev-service
      securityContext:
        runAsNonRoot: true
        runAsUser: 3001
        runAsGroup: 3001
        seccompProfile:
          type: "RuntimeDefault"
      restartPolicy: Never
      containers:
      - name: s3-push
        image: 754256621582.dkr.ecr.eu-west-2.amazonaws.com/central-digital-product-team/intranet-production-ecr:s3-push-main-b74edbce7d2d1ad7213f9600d80b24869e9125ac
        resources:
          limits:
            cpu: "2"
            memory: 256Mi
          requests:
            cpu: "1"
            memory: 128Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities: 
            drop: ["ALL"]
          readOnlyRootFilesystem: true
        volumeMounts:
        - name: writable-tmp
          mountPath: /tmp/s3pusher
        env:
        - name: AWS_S3_BUCKET
          valueFrom:
            secretKeyRef:
              name: s3-bucket-output
              key: bucket_name
      volumes:
      - name: writable-tmp
        emptyDir: {}
