// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit"


.c-events-item-byline {
  oldiecf();
  float:left;
  width:60% !important;
}
  /* PARENT OVVERIDES */
