.template-container {
  &.confirmation {
    .confirmation-screen {
      display: block;
    }

    .main-screen {
      display: none;
    }
  }

  .confirmation-screen {
    display: none;
  }

  .panel {
    margin-top: 30px;
    padding: 15px;

    &.success-panel {
      border: 3px solid $green;
    }

    &.error-panel {
      border: 3px solid $red;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 25px;
    }

    p {
      @extend %large-copy;
    }

    .back-link-box {
      margin-top: 30px;

      .template-user-activate-expired & {
        display: none;
      }
    }

    .back-link {
      @extend %medium-copy;
    }
  }
}
