// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

/* WP core styling to images and alignment on posts
* https://codex.wordpress.org/Wrapping_Text_Around_Images
*/
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.agency-cica {
  .c-rich-text-block {
    blockquote {
      border-left: 10px solid $cica_primary;
    }
  }
}

.agency-hmcts & {
  .c-rich-text-block {
    blockquote {
      border-left: 10px solid $hmcts_primary;
    }
  }
}

.agency-noms & {
  .c-rich-text-block {
    blockquote {
      border-left: 10px solid $defaultAgencyColour;
    }
  }
}

.agency-jac & {
  .c-rich-text-block {
    blockquote {
      border-left: 10px solid $jac_primary;
    }
  }
}

.agency-judicial-office & {
  .c-rich-text-block {
    blockquote {
      border-left: 10px solid $jo_primary;
    }
  }
}

.agency-law-commission & {
  .c-rich-text-block {
    blockquote {
      border-left: 10px solid $lc_primary;
    }
  }
}

.agency-laa & {
  .c-rich-text-block {
    blockquote {
      border-left: 10px solid $laa_primary;
    }
  }
}

.agency-hq & {
  .c-rich-text-block {
    blockquote {
      border-left: 10px solid $hq_primary;
    }
  }
}

.agency-nps & {
  .c-rich-text-block {
    blockquote {
      border-left: 10px solid $nps_primary;
    }
  }
}

.agency-opg & {
  .c-rich-text-block {
    blockquote {
      border-left: 10px solid $opg_primary;
    }
  }
}

.agency-pb & {
  .c-rich-text-block {
    blockquote {
      border-left: 10px solid $pb_primary;
    }
  }
}

.agency-ppo & {
  .c-rich-text-block {
    blockquote {
      border-left: 10px solid $ppo_primary;
    }
  }
}

.clarity-responsive-table {
  overflow-x: auto;
}

.c-rich-text-block {

  iframe {
    max-width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .row{
    overflow: hidden;
    .l-half-section{
      p {
        margin: 0;

      }
    }
  }

  blockquote{
    padding: 0 15px;
    border-left: 10px solid $panel-colour;

    p {

    }
  }

  p {
    margin-top: 17px;
    margin-bottom: 17px;
  }

  hr {
    display: inline-block;
    width: 100%;
    margin: 10px 0 0;
    border: 1px solid $border;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    ff-title();
    margin-bottom: $spacing;
    font-weight: 700;
  }

  h1 {
      ff-title()
      font-size: $crust;
  }

  h2 {
    font-size: $mantle;
    margin-top: 50px;
  }

  h3 {
    font-size: 24px;
    line-height: 30px;
  }

  h4 {
    font-size: 19px;
    line-height: 25px;
  }

  h5 {
    font-size: 16px;
    line-height: 20px;
  }

  h6 {
    font-size: 14px;
    line-height: 20px;
  }

  p, code, pre {
    ff-body()
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: $outerCore;
  }

  pre {
    padding: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #f7f7f7;
    border-radius: 3px;
  }

  code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  .example {
    padding: 10px 15px;
    border-left: 10px solid #dee0e2;
  }

  blockquote {
    margin-bottom: $spacing;
  }

  a {
    &[href^="mailto:"]:after {
      // Add icons here
    }
    &:[rel^="external"]:after {
      // Add icons here
    }
  }

  ul, ol {
    real-list()
    margin-bottom: $spacing;
    font-size: $outerCore;
  }

  ol {
    li {
      list-style: decimal;
    }
  }

  ul {
    li {
      list-style: disc;
    }
  }

  dl {
    font-size: $outerCore;
    margin-bottom: $spacing;
  }

  dd, dt {
    margin-bottom: $spacing;
  }

  dt {
    ff-title()
  }

  table {
    font-size: $outerCore;
    margin-bottom: $spacing*2;
    width: 100%;

    th {
      ff-title()
    }

    th, td {
      padding: $spacing;
      border-bottom: 1px solid $border;
    }

  }

  // PARENT OVERRIDES

  .c-individual-nested-comments &  {
    p, code, pre, li {
      font-size: $bodyCopy;
    }
  }

  .t-page-error & {
    h1 {
        ff-title()
        font-size: 5rem;
        font-weight: 300;
        padding-top: 20px;
    }
  }
}
