// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit"

.c-emergency-banner {

    .ie_content{
        float: right;
        color: #ffffff;
        width: 66%;
        margin: 0;
      
    }
  
}

