// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit"

.c-emergency-banner {
  .c-emergency-banner__content.ie_content{
      float: right;
      color: #ffffff;
      width: 58%;
      margin: 0;
    
  }
  
}

