.template-events-landing .template-container {
  .results-item {
    position: relative;

    .date-box {
      float: left;
      width: 100px;
      margin-right: 40px;
      border: 1px solid $grey-2;

      .day-of-week {
        @extend %smaller-copy;
        display: block;
        background-color: $grey-3;
        text-align: center;
        line-height: 25px;
      }

      .day-of-month {
        display: block;
        padding: 10px 0 0;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
      }

      .month-year {
        @extend %smaller-copy;
        display: block;
        padding-bottom: 5px;
        text-align: center;
      }
    }

    .meta {
      position: absolute;
      bottom: 12px;

      .label {
        display: inline-block;
        width: 70px;
        font-weight: bold;
        color: $black;
      }

      .value {
        color: $black;
      }
    }
  }
}
