// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"


.c-copyright-notice {
  text-align: center;
  img {
    width: 30%;
    +above(m) {
      width: 60%;
    }
  }
}
