.page-news {
  .news-filters {
    margin-top: 60px;
    padding: 15px;
    background-color: $grey-3;

    select,
    input[type="text"] {
      width: 100%;
    }

    input[type="text"],
    select {
      padding: 8px;
      border: 1px solid $grey-2;
      background: $white;
    }

    .label {
      @extend %medium-copy;
      color: #333;
      padding: 0;
    }

    .form-row {
    }
  }

  .news-tabs {
    @include clearfix;
    margin-top: 45px;
    margin-bottom: 45px;

    li {
      float: left;
      width: 50%;

      a {
        @extend %large-copy;
        display: block;
        padding: 20px;
        border: 1px solid transparent;
        border-bottom-color: #aaa;
      }

      &.current-menu-item {
        a {
          border-color: #aaa;
          border-bottom-color: transparent;
        }
      }
    }
  }
}
