.page-news {
  .content-filters {
    margin-top: 20px;

    .label {
      font-weight: bold;
    }

    .contains {
      margin-top: 20px;
    }
  }

  .news-group-separator {
    border-bottom: 1px solid $grey-2;
  }

  .news-item {
    @include clearfix;
    padding: 10px 0;
    border-bottom: 1px solid $grey-2;

    .thumbnail-container {
      float: left;
      width: 150px;
      height: 100px;
      margin-right: 10px;
    }

    .content {
      overflow: hidden;
    }

    .meta {
      span {
        color: $grey-1;
      }
    }

    .title {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .excerpt {
      margin-top: 10px;
    }
  }
}
