.template-events-landing .template-container,
.template-regional-events-landing .template-container,
.template-single-event .template-container,
.events-widget {
  .results-item {
    .content .title {
      @extend %medium-heading;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .item-row {
      @include clearfix;
      position: relative;
    }

    .date-box {
      float: left;
      width: 100px;
      margin-right: 40px;
      border: 1px solid $grey-2;

      .day-of-week {
        @extend %smaller-copy;
        display: block;
        background-color: $grey-3;
        text-align: center;
        line-height: 25px;
      }

      .day-of-month {
        display: block;
        padding: 10px 0 0;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        line-height: 42px;
      }

      .month-year {
        @extend %smaller-copy;
        display: block;
        padding-bottom: 5px;
        text-align: center;
      }
    }

    .content {
      overflow: hidden;
    }

    .meta {
      .hidden {
        display: none;
      }

      .label {
        display: inline-block;
        width: 70px;
        font-weight: bold;
        color: $black;
      }

      .value {
        color: $black;
      }
    }
  }
}
