// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-breadcrumbs {
  background-color:blue;
  padding: 1rem 0 0.5rem 0;

}

.separator {
  padding: 0 0.5rem;
  color: #005da5;
}
