.ht-feature-news {
  > h3 {
    @extend %large-heading;
    margin-top: 16px;
    margin-bottom: 20px;
    padding-top: 16px;
    border-top: none;
    border-bottom: 1px solid $grey-2;
  }

  .news-date-wrapper {
    margin-top: 1em;
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 0;
  }

  h3 {
    @extend %medium-heading;
    margin-top: 0;
  }

  .excerpt {
    @extend %medium-copy;
    margin-top: 5px;
  }

  .news-date-wrapper {
    @extend %small-copy;
  }

  .media {
    margin-top: 0;
  }

  .media-body {
    a {
      text-decoration: none !important;
    }
  }

  .media,
  .media-body {
    overflow: hidden;
  }

  .news-item {
    @include clearfix;
  }

  .news-medium {
    display: inline-block;
    width: 50%;
    padding-bottom: 20px;
    vertical-align: top;

    &:nth-of-type(1) {
      padding-right: 10px;
    }

    &:nth-of-type(2) {
      padding-left: 10px;
    }

    img {
      width: 100%;
    }

    #content & {
      p {
        margin-top: 5px;
        margin-bottom: 0;
      }

      h3 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .more {
      display: none;
    }
  }

  .news-thumbnail {
    padding: 10px 0;
    border-top: 1px solid $grey-2;

    img {
      float: left;
      max-width: 100px;
      margin-right: 20px;
      border: 1px solid $grey-2;
    }

    h3 {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    .news-date-wrapper {
      margin-top: 0;
    }

    #content & p {
      margin-bottom: 0;
    }

    .more {
      display: none;
    }

    .media-body {
      display: none;
    }
  }

  .more-in-news {
    text-align: right;
    font-weight: bold;

    a {
      text-decoration: underline;
    }
  }
}
