// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-article-featured-image {
  img {
    width: 100%;
    max-width: 100%;
    heigh: auto;
  }
}
