.content-filters {
  margin-top: 60px;
  padding-bottom: 3px;

  select,
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid $grey-2;
    background: $white;
  }

  .description {
    @extend %medium-copy;
    margin-bottom: 0px;
    padding: 0;
    color: #333;
  }

  label {
    @extend %medium-copy;
    display: inline-block;
    margin-top: 20px;
    padding: 0;
    font-weight: bold;
    color: #333;
  }
}
