#utilities {
  padding-top: 0;
  padding-bottom: 0;
}

#utilitybar {
  ul.menu {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
}

#menu-utilities li  {
  display: inline-block;
  list-style: none;

  a {
    @extend %medium-copy;
    display: block;
    color: white;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: underline;

    &:first-of-type {
      padding-left: 0;
    }
  }
}

@include mobile_mq(){
  #utilities {
    display: none;
  }

  .mobile-menu-enabled #utilities {
    #utilitybar {
      float: none;
    }

    #menu-utilities {
      margin: 15px 45px;

      li {
        display: block;
        border-bottom: 1px solid $grey-3;

        &:last-of-type {
          border-bottom: none;
        }

        a {
          text-align: left;
        }
      }
    }
  }
}
