// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

// WP core styling to images and alignment
// https://codex.wordpress.org/Wrapping_Text_Around_Images
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.c-rich-text-block {
  h2,
  h3,
  h4,
  h5,
  h6 {
    ff-title();
    margin-bottom: $spacing;
  }

  h1 {
      ff-title()
      font-size: $crust;
    // Style guide error messages. On hold for now.
    // font-weight: bold;
    // background-color: rgba(red, 3%);
    // border: 1px dotted darken(red, 20%)
    // margin-bottom: $spacing;
    // padding: $spacing
    // &:before {
    //   content: "Style guide error:"
    //   text-transform: uppercase;
    //   margin-bottom: $spacing;
    //   border-bottom: 1px dashed darken(red, 20%)
    // }
    // &:after {
    //   margin-top: $spacing;
    //   font-weight: normal;
    //   border-top: 1px dashed darken(red, 20%)
    //   content:"Please do not use a H1 element inside an article as this is the title. Please use H2 instead"
    // }
    // &:before,
    // &:after {
    //   text-align: center;
    //   font-size: $outerCore;
    //   padding: $spacing;
    //   color: red;
    //   display: block;
    //   background-color: rgba(red, 10%);
    // }
  }

  h2 {
    font-size: $mantle;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: $outerCore;
  }

  p, code, pre {
    ff-body()
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: $outerCore;
  }

  blockquote {
    margin-bottom: $spacing;
  }

  a {
    &[href^="mailto:"]:after {
      // Add icons here
    }
    &:[rel^="external"]:after {
      // Add icons here
    }
  }

  ul, ol {
    real-list()
    margin-bottom: $spacing;
    font-size: $outerCore;
  }

  ol {
    li {
      list-style: decimal;
    }
  }

  dl {
    font-size: $outerCore;
    margin-bottom: $spacing;
  }

  dd, dt {
    margin-bottom: $spacing;
  }

  dt {
    ff-title()
  }

  table {
    font-size: $outerCore;
    margin-bottom: $spacing*2;
    width: 100%;

    th {
      ff-title()
    }

    th, td {
      padding: $spacing;
      border-bottom: 1px solid $border;
    }

  }

  // PARENT OVERRIDES

  .c-individual-nested-comments &  {
    p, code, pre, li {
      font-size: $bodyCopy;
    }
  }
}
