// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-polls {

}

// Overriding Totalpoll plugin styles to Clarity theme styles.
// Needs to be outside of this specific component's scope so it is global and will affect wherever the shortcode is used on the site.
.totalpoll-wrapper {
  h4 {
    font-size: $mantle !important;
  }
}

.totalpoll-button, .totalpoll-button-primary, .totalpoll-button-vote {
  cursor: pointer !important;
  font-size: $outerCore !important;
  box-shadow: 0 2px 0 #003518 !important;
  padding: 14px 24px 10px !important;
  text-decoration: none !important;
  background-color: $defaultAgencyColour !important;
  border: $defaultAgencyColour !important;
  line-height: $innerCore !important;
  border-radius: 0 !important;
}

.totalpoll-container, .totalpoll-button, .totalpoll-buttons-results {
    color: white !important;
}

.totalpoll-question-choices-item-checked .totalpoll-question-choices-item-control, .totalpoll-question-choices-item-checked:hover .totalpoll-question-choices-item-control, .totalpoll-question-choices-item-checked:focus .totalpoll-question-choices-item-control {
  background-color: $defaultAgencyColour !important;
  border: none;
}

.totalpoll-message-error {
  color: white !important;
  background-color: #932214 !important;
}

.totalpoll-choices {
  border: 2px solid $border !important;
}

.totalpoll-choice-checkbox-container {
  border-right: 2px solid $border !important;
}

.totalpoll-choice-separator {
  border-top: 2px solid $border !important;
}

.totalpoll-choice-label {
  font-size: $innerCore !important;
}

.totalpoll-button.totalpoll-button-link.totalpoll-button-results {
  display: none !important;
}

.totalpoll-question-choices-item-votes-text {
  font-size: $outerCore !important;
}

.totalpoll-question-content, .totalpoll-question-choices-item-label{
  font-size: $outerCore !important;
}