// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-agency-link-list {
  margin-bottom: $spacing;
  li {
    background: $boxBg;
    margin-bottom: $spacing;
    a {
      display: block;
      padding: $spacing;
      .u-icon {
        margin: 0 $spacing*.5;
      }
    }
    &.highlight {
      background-color: $light;
      border: 2px solid #f71;
    }
  }

}
