@require 'reset';
@require 'fonts';
@require '_toolkit';
@require 'layouts';
@require 'document-subscribe';

body {
  font-family: 'nta', arial, helvetica, sans-serif;
  color: $text;
  font-size: $bodyCopy;
}

a {
  color: $links;
  &:hover {
    color: $linkHover;
  }
  &:focus {
    outline: 3px solid $linkFocus;
    background-color: $linkFocus;
  }
}

p {
  ff-body();
}

input, textarea, button, select {
  padding: $spacing;
  font-size: $bodyCopy;
  &:focus {
    outline: 3px solid $linkFocus;
  }
}
