@font-face {
  font-family: 'nta';
  src: url("../fonts/nta_light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nta';
  src: url("../fonts/nta_bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: 'moji-clarity';
  src:  url('../fonts/moji-clarity.eot?vklv4a');
  src:  url('../fonts/moji-clarity.eot?vklv4a#iefix') format('embedded-opentype'),
    url('../fonts/moji-clarity.ttf?vklv4a') format('truetype'),
    url('../fonts/moji-clarity.woff?vklv4a') format('woff'),
    url('../fonts/moji-clarity.svg?vklv4a#moji-clarity') format('svg');
  font-weight: normal;
  font-style: normal;
}
