// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-full-width-banner {
  clearfix()
  margin-bottom: $spacing;
  width: 100%;
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  &__team {
    img {
      float: left;
      width: 100%;
      padding-top: 1em;
      margin-bottom: 20px;
    }
  }
}
