.page-search-results {
  .page-title {
    @extend %large-heading;
    border-bottom: none;
  }

  .search-string {
    position: relative;
    padding: 3px 0; /* room for the outline */
    margin-right: 36px;

    .keywords-field {
      display: block;
      width: 100%;
      height: 36px;
      padding-left: 10px;
      border: 1px solid $grey-2;
    }

    .search-btn {
      position: absolute;
      right: -36px;
      top: 3px;
      bottom: 3px;
      width: 36px;
      padding: 0;
      overflow: hidden;
      background-color: #428bca;
      border-color: #357ebd;
      background-image: url('../images/search_icon.png');
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: 10px 10px;
      text-indent: -5000px;
    }
  }

  .content-filters {
    margin-top: 24px;
  }

  .search-results-title {
    font-weight: normal;
    margin-bottom: 50px;
  }

  .search-filtered-results-title {
    .results-count {
      @extend %large-heading;
      font-weight: bold;
    }

    .results-count-description {
      @extend %large-copy;
      font-weight: bold;
    }
  }

  .no-results-info {
    h4 {
      margin-bottom: 0;
    }

    &.hidden {
      display: none;
    }
  }

  .search-item {
    .title {
      margin-top: 30px;
    }

    .meta {
      color: $grey-2;
    }

    .title,
    .meta {
      margin-bottom: 5px;
    }

    .excerpt {
      @extend %medium-copy;
    }

    .file {
      margin-top: 5px;
      color: $grey-1;

      .file-link {
        text-decoration: underline;
      }
    }
  }
}
