// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-input-container {
   margin-bottom: $spacing*2;

   label {
      display: block;
      font-weight: bold;
      font-size: $outerCore;
   }

   input[type="text"],
   input[type="password"],
   input[type="email"],
   input[type="tel"],
   textarea,
   select {
      color: $text-colour;
      display: block;
      width: 100%;
      max-width: 100%;
      margin-top: $spacing*.5;
      padding: $spacing $spacing*.6;
      border: 2px solid $text-colour;
      font-size: $outerCore;
      line-height: $lineHeight*1.2;
   }

   &--checkbox {
      border: 2px solid $text-colour;
      position: relative;
      overflow: hidden; //simple clearfix
      padding-left: $spacing*4;
      margin-bottom: $spacing;
      input {
         position: absolute;
         top:0;
         left:0;
      }
      label {
         font-size: $bodyCopy;
         font-weight: normal;
      }
   }

    &--radio-group-item {
        display: block;
        float: none;
        clear: left;
        position: relative;
        padding: 0 0 0 38px;
        margin-bottom: 10px;

        label {
            float: left;
            padding: 8px 10px 9px 12px;
            cursor: pointer;
            display: block;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
        }

        input {
            position: absolute;
            cursor: pointer;
            left: 0;
            top: 0;
            width: 38px;
            height: 38px;
            z-index: 1;
            margin: 0;
            zoom: 1;
            accent-color: #232323;
        }
    }
}