// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit"

.c-app-list {
  ieoldcf();
  li {
    padding:0;
    margin-right: 0 !important;
    float: left;
    width: 50%;
    .u-icon {
      float:left;
    }
  }
}
