// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-logo-bar {
  position: relative;
  background-color: $dark;
  padding: 0 $spacing 0 $spacing;

  +above(m) {
    padding: 0;
    max-height 49px;
  }

  a {
    text-decoration: none;
  }

  &__logo {
    display: block;
    float: left;
    height: 50px;
    margin: -1px 2px 0 0;
    -o-object-fit: contain;
    object-fit: contain;
    padding-left: 1px;
    width: 38px;
  }

  .agency-title {
    color: white;
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    float: left;
    padding: $spacing $spacing 0.8rem;
  }

  &__switch {
    color: $light;
    display block;
    padding: $spacing 0;
    text-decoration: none;
    clear left;
    +above(m) {
      padding: 5px 0 0 0;
      text-align: right;
      clear none;
    }
  }

  .u-wrapper {

    &__stack--right {
      padding: $spacing 0 $spacing;
    }
  }

  &__stack--left {
    float:left;
  }

  &__stack--right {
    float:right;
  }

}
