.template-campaign-content {
  .template-container {
    .skin-light-blue {
      .editable {
        hr {
          background: #0098db;
          border-color: #0098db;
        }

        blockquote {
          background: #0098db;
        }
      }
    }
    .skin-transformation {
      .editable {
        hr {
          background: #fac960;
          border-color: #fac960;
        }

        blockquote {
          background: #fac960;
        }
      }
    }

    .campaign-banner {
      margin-top: 15px;

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }

   .editable {
      h2 {
        margin-top: 25px;
        margin-bottom: 10px;
      }

      p {
        margin-top: 0;
      }

      hr {
        display: inline-block;
        width: 100%;
        margin: 10px 0 0 0;
        background: #ccc;
        border: 1px solid #ccc;
      }

      blockquote {
        margin-right: 0;
        padding: 25px 25px 5px 25px;
        background: #ccc;
        font-size: 27px;
        line-height: 30px;

        p {
          padding-left: 0;
          font-size: 27px;
          line-height: 30px;
        }

        p::before {
          content: '';
        }
      }
    }
  }
}
