/* line 3, src/ie/_grid.scss */
.ie7 .col-lg-1 {
  width: expression((this.parentNode.clientWidth/12*1 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  float: left;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px; }
/* line 3, src/ie/_grid.scss */
.ie7 .col-lg-2 {
  width: expression((this.parentNode.clientWidth/12*2 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  float: left;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px; }
/* line 3, src/ie/_grid.scss */
.ie7 .col-lg-3 {
  width: expression((this.parentNode.clientWidth/12*3 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  float: left;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px; }
/* line 3, src/ie/_grid.scss */
.ie7 .col-lg-4 {
  width: expression((this.parentNode.clientWidth/12*4 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  float: left;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px; }
/* line 3, src/ie/_grid.scss */
.ie7 .col-lg-5 {
  width: expression((this.parentNode.clientWidth/12*5 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  float: left;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px; }
/* line 3, src/ie/_grid.scss */
.ie7 .col-lg-6 {
  width: expression((this.parentNode.clientWidth/12*6 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  float: left;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px; }
/* line 3, src/ie/_grid.scss */
.ie7 .col-lg-7 {
  width: expression((this.parentNode.clientWidth/12*7 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  float: left;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px; }
/* line 3, src/ie/_grid.scss */
.ie7 .col-lg-8 {
  width: expression((this.parentNode.clientWidth/12*8 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  float: left;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px; }
/* line 3, src/ie/_grid.scss */
.ie7 .col-lg-9 {
  width: expression((this.parentNode.clientWidth/12*9 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  float: left;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px; }
/* line 3, src/ie/_grid.scss */
.ie7 .col-lg-10 {
  width: expression((this.parentNode.clientWidth/12*10 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  float: left;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px; }
/* line 3, src/ie/_grid.scss */
.ie7 .col-lg-11 {
  width: expression((this.parentNode.clientWidth/12*11 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  float: left;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px; }
/* line 3, src/ie/_grid.scss */
.ie7 .col-lg-12 {
  width: expression((this.parentNode.clientWidth/12*12 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  float: left;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px; }
/* line 12, src/ie/_grid.scss */
.ie7 .mobile-only {
  display: none; }

/* line 2, src/ie/_base.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* line 2, src/ie/_common.scss */
.ie7 .content-info {
  clear: both; }
  /* line 5, src/ie/_common.scss */
  .ie7 .content-info a {
    display: block; }

/*@font-face {*/
/*  font-family: 'nta';*/
/*  src: url('../fonts/nta_light.eot');*/
/*  src: url('../fonts/nta_light.eot?#iefix') format('embedded-opentype');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/
/**/
/*@font-face {*/
/*  font-family: 'nta';*/
/*  src: url('../fonts/nta_bold.eot');*/
/*  src: url('../fonts/nta_bold.eot?#iefix') format('embedded-opentype');*/
/*  font-weight: bold;*/
/*}*/
/* line 2, src/ie/_tabbed_filters.scss */
.ie7 .tabbed-filters ul,
.ie7 .tabbed-filters li,
.ie7 .tabbed-filters .label {
  display: inline;
  zoom: 1; }
/* line 9, src/ie/_tabbed_filters.scss */
.ie7 .tabbed-filters .icon {
  display: inline;
  zoom: 1;
  background-image: url("../images/filters.png"); }

/* line 2, src/ie/_content_filters.scss */
.ie7 .content-filters input {
  /*width: expression((this.parentNode.clientWidth - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight']) - parseInt(this.currentStyle['borderLeftWidth']) - parseInt(this.currentStyle['borderRightWidth'])) + 'px');*/
  width: auto; }

/* line 1, src/ie/_header.scss */
.ie7 .header {
  z-index: 1; }

/* line 2, src/ie/_beta_banner.scss */
.ie7 .beta-banner .beta-icon,
.ie7 .beta-banner .message {
  display: inline;
  zoom: 1; }
/* line 8, src/ie/_beta_banner.scss */
.ie7 .beta-banner .ie7-warning {
  display: inline; }

/* line 2, src/ie/_my_moj.scss */
.lte-ie7 .my-moj .my-moj-top {
  padding-top: 0; }
/* line 6, src/ie/_my_moj.scss */
.lte-ie7 .my-moj .my-intranet-form {
  display: inline-block; }
/* line 10, src/ie/_my_moj.scss */
.lte-ie7 .my-moj .department-dropdown-box {
  float: left;
  margin-bottom: 10px;
  padding-top: 10px; }
/* line 16, src/ie/_my_moj.scss */
.lte-ie7 .my-moj .label,
.lte-ie7 .my-moj .department {
  vertical-align: middle; }
/* line 21, src/ie/_my_moj.scss */
.lte-ie7 .my-moj .department {
  width: 240px;
  height: auto; }
/* line 26, src/ie/_my_moj.scss */
.lte-ie7 .my-moj .visit-cta {
  margin-top: 10px;
  line-height: 18px; }
/* line 32, src/ie/_my_moj.scss */
.lte-ie7 .my-moj .apps-list .app-icon-inner {
  background-image: url("../images/app_icons.png");
  background-size: auto; }
/* line 38, src/ie/_my_moj.scss */
.lte-ie7 .my-moj .quick-links-container {
  clear: both; }

/* line 44, src/ie/_my_moj.scss */
.lte-ie9 .my-moj .department {
  padding-right: 5px; }
  /* line 47, src/ie/_my_moj.scss */
  .lte-ie9 .my-moj .department option {
    background-color: transparent; }

/* line 4, src/ie/_feeds.scss */
.ie7 .feeds .fallback,
.ie8 .feeds .fallback {
  display: block; }
  /* line 7, src/ie/_feeds.scss */
  .ie7 .feeds .fallback li,
  .ie8 .feeds .fallback li {
    margin-bottom: 10px; }
  /* line 11, src/ie/_feeds.scss */
  .ie7 .feeds .fallback .icon,
  .ie8 .feeds .fallback .icon {
    display: inline;
    zoom: 1;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url("../images/feeds.png");
    background-repeat: none;
    vertical-align: middle; }
  /* line 25, src/ie/_feeds.scss */
  .ie7 .feeds .fallback .yammer .icon,
  .ie8 .feeds .fallback .yammer .icon {
    background-position: -60px 0; }
/* line 30, src/ie/_feeds.scss */
.ie7 .feeds .regular,
.ie8 .feeds .regular {
  display: none; }

/* line 3, src/ie/_search_form.scss */
.ie7 .search-form .keywords-field {
  width: expression((this.parentNode.clientWidth - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight']) - parseInt(this.currentStyle['borderLeftWidth']) - parseInt(this.currentStyle['borderRightWidth'])) + 'px');
  height: 16px;
  padding-top: 10px;
  padding-bottom: 10px; }
/* line 10, src/ie/_search_form.scss */
.ie7 .search-form .search-btn {
  right: -1px;
  top: 4px;
  bottom: 4px;
  border-bottom: none;
  text-transform: capitalize;
  /* hide the text hack... Noone knows why this works in IE7 :) */ }
/* line 19, src/ie/_search_form.scss */
.ie7 .ui-autocomplete {
  z-index: 1; }

/* line 3, src/ie/_navigation.scss */
.ie7 .menu-list,
.ie8 .menu-list {
  margin-right: 10px; }
  /* line 6, src/ie/_navigation.scss */
  .ie7 .menu-list .menu-item,
  .ie8 .menu-list .menu-item {
    padding-top: 1px; }
    /* line 9, src/ie/_navigation.scss */
    .ie7 .menu-list .menu-item .menu-item-link,
    .ie8 .menu-list .menu-item .menu-item-link {
      padding-right: 20px;
      zoom: 1; }

/* line 2, src/ie/_search_results.scss */
.ie7.template-search-results .template-container .main-search-field {
  height: 18px; }
/* line 6, src/ie/_search_results.scss */
.ie7.template-search-results .template-container .results-count,
.ie7.template-search-results .template-container .results-count-description {
  padding-right: 5px; }

/* line 2, src/ie/news_landing.scss */
.ie7.template-news-landing .template-container .news-item {
  clear: both; }
/* line 6, src/ie/news_landing.scss */
.ie7.template-news-landing .template-container .ie-clear {
  clear: both; }

/* line 2, src/ie/_content_nav.scss */
.ie7 .content-nav li.previous a {
  background-image: url("../images/chevron_left.png"); }
/* line 6, src/ie/_content_nav.scss */
.ie7 .content-nav li.next a {
  background-image: url("../images/chevron_right.png"); }

/* line 3, src/ie/_guidance_and_support.scss */
.ie7.template-guidance-and-support-index .template-container .guidance-categories-list .category-item {
  padding-right: 0; }
/* line 7, src/ie/_guidance_and_support.scss */
.ie7.template-guidance-and-support-index .template-container .guidance-categories-list.small {
  border-top: none; }
  /* line 10, src/ie/_guidance_and_support.scss */
  .ie7.template-guidance-and-support-index .template-container .guidance-categories-list.small .category-item {
    padding-top: 0; }
/* line 16, src/ie/_guidance_and_support.scss */
.ie7.template-guidance-and-support-index .template-container .children-list {
  margin-left: 5px; }

/* line 2, src/ie/_guidance_and_support_content.scss */
.ie7.template-guidance-and-support-content .template-container .tab-content {
  clear: both; }

/* line 2, src/ie/_need_to_know.scss */
.ie7 .news-widget.need-to-know .page-list {
  margin-left: 0;
  zoom: 1; }
