#need-to-know {
  background-color: #428bca;
  position: relative;
  margin-top: 35px;
  padding: 20px 35px;

  h3 {
    margin: 0;
    padding: 0 20px 0 0;
    border-bottom: none;

    a {
      color: $white;

      &:visited,
      &:active,
      &:hover {
        color: $white !important;
      }
    }
  }

  .news-date-wrapper {
    margin: 10px 0;

    span {
      color: $white !important; /* outweighing another irresponsible !important defined elsewhere... */
    }
  }

  .excerpt {
    color: $white;
    margin-bottom: 0;
  }

  .need-to-know-list {
    margin-bottom: 0;

    li {
      display: none;
      border-top: 0;

      &:first-of-type {
        display: list-item;
      }
    }
  }

  .page-list {
    text-align: center;
    margin-bottom: 0;

    li {
      @extend %small-copy;
      display: inline-block;
      padding: 0px 10px;
      border: 1px solid #d5e8f4;
      color: #d5e8f4;
      line-height: 24px;
      cursor: pointer;

      &.selected,
      &:hover {
        background-color: #b2d4eb;
        color: #428bca;
      }
    }
  }
}
