#need-to-know {
  position: relative;
  margin-top: 20px;
  background-color: #428bca;
  border: 1px solid #428bca;
  border-top-width: 0;

  .need-to-know-inner {
    padding: $grid-gutter/2;
  }

  .widget-title {
    @extend %smaller-heading;
    display: inline-block;
    margin: 0 0 0 $grid-gutter/2;
    padding: 5px 15px;
    background-color: $white;
    color: #428bca;
    border-bottom: none;
  }

  .item-title {
    @extend %medium-heading;
    margin: 0;
    padding: 0 20px 0 0;
    border-bottom: none;

    a {
      color: $white;

      &:visited,
      &:active,
      &:hover {
        color: $white !important;
      }
    }
  }

  .news-date-wrapper {
    @extend %smallest-copy;
    margin: 10px 0;

    span {
      color: $white !important; /* outweighing another irresponsible !important defined elsewhere... */
    }
  }

  .excerpt {
    @extend %small-copy;
    margin-bottom: 0;
    color: $white;
  }

  .need-to-know-list {
    margin-top: 0;
    margin-bottom: 0;

    li {
      display: none;
      padding-top: 0;
      border-top: 0;

      &:first-of-type {
        display: list-item;
      }
    }
  }

  .page-list {
    text-align: center;
    margin-bottom: 0;

    li {
      @extend %small-copy;
      display: inline-block;
      padding: 0px 10px;
      border: 1px solid #d5e8f4;
      color: #d5e8f4;
      line-height: 24px;
      cursor: pointer;

      &.selected,
      &:hover {
        background-color: #b2d4eb;
        color: #428bca;
      }
    }
  }
}
