// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-calendar-icon {
  column(1);
  text-decoration: none;
  margin-bottom: $spacing*1;

  a {
    text-decoration: none;
  }

  span {
    display: block;
    text-align: center;
  }
  &--dow {
    background-color: $boxBg;
    font-size: $smallCopy;
    padding-top: $spacing*.2;
  }
  &--dom {
    font-size: $crust;
    font-weight: bold;
    padding:$spacing*3 0;
  }
  &--my {
    font-size: $smallCopy;
    padding-bottom: $spacing*3;
  }

  /* PARENT OVERRIDES */

  .c-events-item-list & {
    float:left;
    +above('m') {
      column(1/3);
      float:left;
    }
    margin-right: $spacing*2;
  }

  .c-events-item-list & {
    border: 1px solid $boxBg;
    &--dow {
      padding: $spacing*.5;
    }
    &--dom {
      font-size: $mantle;
      padding: $spacing*1.5 0;
    }
  }

  .c-events-item-homepage & {
    border: 1px solid $boxBg;
    &--dom {
      font-size: $mantle;
      padding: $spacing*3;
    }
  }
}
