apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: intranet-staging
  namespace: intranet-staging
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: intranet-staging
  minReplicas: 4
  maxReplicas: 12
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
