// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit";

.c-article-item {
  ieoldcf();
  border-bottom: 1px solid grey;
/*
  PARENT OVERRIDES
*/

  // Featured news
  .c-featured-news-list & {
    width: 47%;
    float:left;
  }

  // Regular news
  .c-news-list & {
    ieoldcf();
    width: 47%;
    float:left;
    img {
      width: 30%;
      float:left;
    }
    &:nth-child(even) {
     margin-right: 0;
     background: #6699cc !important;
    }
  }

  // Blog feed
  .c-blog-feed & {
    ieoldcf();
    img {
      width: 20%;
      float:left;
    }
  }
}
