// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-team-blog-article {
  margin-top: 30px;

  .c-team-blog-list .c-article-item {
    +above('m') {
      column(1);
    }
  }
}
