// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-team-contact-box {
  background: $boxBg;
  margin: $spacing*2 0;
  padding: $spacing*3;

  h4 {
    margin-top: $spacing*1;
  }
}
