#content_tabs .ui-widget-content,
#content_tabs .ui-widget-header {
  background: none;
}

#content_tabs .ui-tabs-panel td,
#content_tabs .ui-tabs-panel table,
#content_tabs .ui-accordion-content table {
  width: 100%;
}

#content_tabs .ui-icon-close {
  float: left;
}

#poststuff h3.ui-accordion-header {
  padding-left: 26px;
}

#content_tabs table.form-table tbody tr.form-field th {
  padding-left: 12px;
}

#content_tabs .add-section {
  color: #0074a2;
  font-family: 'Open Sans', sans-serif;
}