/* line 1, ../scss/global/_base.scss */
template {
  display: none;
}

/* line 5, ../scss/global/_base.scss */
h1 {
  font-weight: 500;
}

/* line 10, ../scss/global/_base.scss */
h2 {
  font-weight: 500;
}

/* line 15, ../scss/global/_base.scss */
h3 {
  font-weight: 500;
}

/* line 1, ../scss/global/_common.scss */
.news_date {
  color: #6f777b;
}

/* line 5, ../scss/global/_common.scss */
.content-wrapper {
  margin: 15px 0;
}

/* line 1, ../scss/global/_typography.scss */
div, span, p {
  font-family: arial, sans-serif;
}

/* line 5, ../scss/global/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}

/** Headings **/
/* line 17, ../scss/global/_typography.scss */
.guidance-and-support .links h3 {
  font-size: 16px;
}

/* line 21, ../scss/global/_typography.scss */
.ht-feature-news .news-thumbnail h3, .guidance-and-support .categories h3,
.guidance-and-support .subcategories h3 {
  font-size: 19px;
}

/* line 25, ../scss/global/_typography.scss */
h3, #topstrip #crownlink a {
  font-size: 24px;
}

/* line 29, ../scss/global/_typography.scss */
h2 {
  font-size: 36px;
}

/* line 33, ../scss/global/_typography.scss */
h1 {
  font-size: 48px;
}

/** Copy **/
/* line 60, ../scss/global/_typography.scss */
#content .guidance-and-support .item-container .description {
  font-size: 16px;
}

/* line 64, ../scss/global/_typography.scss */
#topstrip #searchformdiv .search-filter-container:after, #topstrip #searchformdiv .search-filter, .home.page #content .descriptive-menu-description, #need-to-know .page-list li, .guidance-and-support .tree .all-categories {
  font-size: 14px;
}

/* line 72, ../scss/global/_typography.scss */
.guidance-and-support .tabbed-filter li .label {
  font-size: 12px;
}

/* media queries for responsive styles */
@media only screen and (max-width: 1200px) {
  /* line 4, ../scss/framework/_grid.scss */
  #peoplenav {
    padding-top: 3em;
  }

  /* line 8, ../scss/framework/_grid.scss */
  .grid-sizer {
    width: 48% !important;
  }

  /* line 11, ../scss/framework/_grid.scss */
  .grid-item {
    width: 47% !important;
  }

  /* line 14, ../scss/framework/_grid.scss */
  .pgrid-sizer {
    width: 31% !important;
  }

  /* line 17, ../scss/framework/_grid.scss */
  .pgrid-item {
    width: 30% !important;
  }

  /* line 21, ../scss/framework/_grid.scss */
  .page-template-page-full-width-php .grid-sizer {
    width: 49% !important;
  }

  /* line 24, ../scss/framework/_grid.scss */
  .page-template-page-full-width-php .grid-item {
    width: 48% !important;
  }

  /* line 27, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-php .grid-sizer {
    width: 48% !important;
  }

  /* line 30, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-php .grid-item {
    width: 47% !important;
  }

  /* line 33, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-wide-php .grid-sizer {
    width: 32%;
  }

  /* line 36, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-wide-php .grid-item {
    width: 31%;
  }

  /* line 39, ../scss/framework/_grid.scss */
  .content-wrapper {
    padding: 0.5em 0.5em !important;
  }
}
@media only screen and (max-width: 990px) {
  /* line 45, ../scss/framework/_grid.scss */
  .grid-sizer {
    width: 48% !important;
  }

  /* line 48, ../scss/framework/_grid.scss */
  .grid-item {
    width: 47% !important;
  }

  /* line 51, ../scss/framework/_grid.scss */
  .pgrid-sizer {
    width: 48.5% !important;
  }

  /* line 54, ../scss/framework/_grid.scss */
  .pgrid-item {
    width: 47% !important;
  }

  /* line 58, ../scss/framework/_grid.scss */
  .page-template-page-full-width-php .grid-sizer {
    width: 48% !important;
  }

  /* line 61, ../scss/framework/_grid.scss */
  .page-template-page-full-width-php .grid-item {
    width: 47% !important;
  }

  /* line 64, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-php .grid-sizer {
    width: 49% !important;
  }

  /* line 67, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-php .grid-item {
    width: 48% !important;
  }

  /* line 70, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-wide-php .grid-sizer {
    width: 49% !important;
  }

  /* line 73, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-wide-php .grid-item {
    width: 48% !important;
  }
}
@media only screen and (max-width: 768px) {
  /* line 79, ../scss/framework/_grid.scss */
  #crownlink {
    font-size: 0.8em;
  }

  /* line 82, ../scss/framework/_grid.scss */
  .grid-sizer {
    width: 49% !important;
  }

  /* line 85, ../scss/framework/_grid.scss */
  .grid-item {
    width: 48% !important;
  }

  /* line 88, ../scss/framework/_grid.scss */
  .pgrid-sizer {
    width: 49% !important;
  }

  /* line 91, ../scss/framework/_grid.scss */
  .pgrid-item {
    width: 48% !important;
  }

  /* line 95, ../scss/framework/_grid.scss */
  .page-template-page-full-width-php .grid-sizer {
    width: 49% !important;
  }

  /* line 98, ../scss/framework/_grid.scss */
  .page-template-page-full-width-php .grid-item {
    width: 48% !important;
  }

  /* line 101, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-php .grid-sizer {
    width: 100% !important;
  }

  /* line 104, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-php .grid-item {
    width: 100% !important;
  }

  /* line 107, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-wide-php .grid-sizer {
    width: 49% !important;
  }

  /* line 110, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-wide-php .grid-item {
    width: 48% !important;
  }
}
@media only screen and (max-width: 320px) {
  /* line 116, ../scss/framework/_grid.scss */
  .grid-sizer {
    width: 100% !important;
  }

  /* line 119, ../scss/framework/_grid.scss */
  .grid-item {
    width: 100% !important;
  }

  /* line 122, ../scss/framework/_grid.scss */
  .pgrid-sizer {
    width: 100% !important;
  }

  /* line 125, ../scss/framework/_grid.scss */
  .pgrid-item {
    width: 100% !important;
  }

  /* line 129, ../scss/framework/_grid.scss */
  .page-template-page-full-width-php .grid-sizer {
    width: 100% !important;
  }

  /* line 132, ../scss/framework/_grid.scss */
  .page-template-page-full-width-php .grid-item {
    width: 100% !important;
  }

  /* line 135, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-php .grid-sizer {
    width: 100% !important;
  }

  /* line 138, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-php .grid-item {
    width: 100% !important;
  }

  /* line 141, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-wide-php .grid-sizer {
    width: 100% !important;
  }

  /* line 144, ../scss/framework/_grid.scss */
  .page-template-page-left-nav-wide-php .grid-item {
    width: 100% !important;
  }
}
/* line 1, ../scss/modules/_header.scss */
#topstrip {
  background: #0b0c0c;
  overflow: visible;
}
/* line 5, ../scss/modules/_header.scss */
#topstrip .row {
  background: none;
}
/* line 9, ../scss/modules/_header.scss */
#topstrip #masthead {
  text-align: left;
  padding: 0;
}
/* line 13, ../scss/modules/_header.scss */
#topstrip #masthead #mainlogo {
  float: left;
  margin-right: 1em;
}
/* line 19, ../scss/modules/_header.scss */
#topstrip #crownlogo {
  padding-left: 0;
  margin-top: 15px;
}
/* line 24, ../scss/modules/_header.scss */
#topstrip #crownlink {
  display: block;
  border-left: 2px solid #fff;
  padding-left: 10px;
}
/* line 29, ../scss/modules/_header.scss */
#topstrip #crownlink img {
  margin-right: 10px;
  width: 40px;
}
/* line 34, ../scss/modules/_header.scss */
#topstrip #crownlink a {
  color: #fff;
  font-weight: normal;
  line-height: 40px;
  text-decoration: none;
}
/* line 43, ../scss/modules/_header.scss */
#topstrip #searchformdiv {
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 47, ../scss/modules/_header.scss */
#topstrip #searchformdiv .input-group {
  width: 100%;
  display: block;
}
/* line 2, ../scss/global/_mixins.scss */
#topstrip #searchformdiv .input-group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 53, ../scss/modules/_header.scss */
#topstrip #searchformdiv .search-filter-container {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  width: 70px;
}
/* line 60, ../scss/modules/_header.scss */
#topstrip #searchformdiv .search-filter-container:after {
  position: absolute;
  top: 1px;
  right: 0;
  bottom: 1px;
  width: 20px;
  background-color: #bfc1c3;
  color: #fff;
  line-height: 200%;
  text-align: center;
  content: "\25be";
  pointer-events: none;
}
/* line 76, ../scss/modules/_header.scss */
#topstrip #searchformdiv .search-filter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin-right: -2px;
  padding-right: 0;
  border: 1px solid #fff;
  border-right-width: 0;
  background-color: #bfc1c3;
  color: #fff;
  outline: none;
}
/* line 93, ../scss/modules/_header.scss */
#topstrip #searchformdiv .form-control {
  padding-left: 80px;
}
/* line 97, ../scss/modules/_header.scss */
#topstrip #searchformdiv .btn {
  font-size: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 10px;
}

@media (max-width: 767px) {
  /* line 109, ../scss/modules/_header.scss */
  .header-top {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 115, ../scss/modules/_header.scss */
  #masthead #utilities {
    display: none;
  }
  /* line 120, ../scss/modules/_header.scss */
  #masthead.mobile-menu-enabled .search-box,
  #masthead.mobile-menu-enabled #mainnav {
    display: none;
  }
  /* line 125, ../scss/modules/_header.scss */
  #masthead.mobile-menu-enabled #utilities {
    display: block;
  }

  /* line 131, ../scss/modules/_header.scss */
  .mobile-nav button {
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("../images/mobile_menu.svg");
    background-size: 60px 30px;
    background-position: 0 0;
    margin-top: 20px;
    margin-right: -10px;
  }
  /* line 143, ../scss/modules/_header.scss */
  .mobile-menu-enabled .mobile-nav button {
    background-position: 30px 0;
  }
}
/* Footer styles */
/* line 3, ../scss/modules/_footer.scss */
#footerwrapper {
  background: #dee0e2;
  border-top: 10px solid #428bca;
}
/* line 7, ../scss/modules/_footer.scss */
#footerwrapper #footer {
  color: #454a4c;
  min-height: 10em !important;
  padding: 2em 0;
  border-bottom: 1px solid #333;
  margin-bottom: 3em;
}
/* line 14, ../scss/modules/_footer.scss */
#footerwrapper #footer.row {
  background: none;
}
/* line 18, ../scss/modules/_footer.scss */
#footerwrapper #footer h3 {
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
  font-size: 1.4em !important;
}
/* line 24, ../scss/modules/_footer.scss */
#footerwrapper #footer ul {
  padding-left: 0px;
}
/* line 28, ../scss/modules/_footer.scss */
#footerwrapper #footer ul.xoxo {
  margin: 0;
  padding: 0;
}
/* line 33, ../scss/modules/_footer.scss */
#footerwrapper #footer ul#menu-footer-left li {
  list-style: none;
  display: inline;
  border-right: 1px solid #454a4c;
  padding: 0 0.5em 0 0;
}
/* line 39, ../scss/modules/_footer.scss */
#footerwrapper #footer ul#menu-footer-left li:last-child, #footerwrapper #footer ul#menu-footer-left li.last-link {
  border-right: none !important;
  padding-right: 0;
}
/* line 46, ../scss/modules/_footer.scss */
#footerwrapper #footer a, #footerwrapper #footer h2, #footerwrapper #footer h3 {
  color: #454a4c;
}
/* line 49, ../scss/modules/_footer.scss */
#footerwrapper #footer a {
  text-decoration: underline;
}
/* line 53, ../scss/modules/_footer.scss */
#footerwrapper #footer hr {
  display: none;
}
/* line 57, ../scss/modules/_footer.scss */
#footerwrapper #footer .widget-box {
  padding: 0 .3em .5em .5em;
  background: #dee0e2;
  border-bottom: none;
}
/* line 62, ../scss/modules/_footer.scss */
#footerwrapper #footer .widget-box ul#menu-footer-left {
  padding-left: 0 !important;
}
/* line 69, ../scss/modules/_footer.scss */
#footerwrapper #footer-left p {
  text-align: left;
}
/* line 73, ../scss/modules/_footer.scss */
#footerwrapper ul#menu-footer-right li {
  list-style: square;
  margin-left: 0;
}

/* line 2, ../scss/modules/_main_nav.scss */
#mainnav #primarynav {
  padding: 0;
  background: white;
}
/* line 6, ../scss/modules/_main_nav.scss */
#mainnav #primarynav ul.mega-menu {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 10, ../scss/modules/_main_nav.scss */
#mainnav #primarynav ul.mega-menu > li {
  float: left;
  background: #eaedef;
  font-weight: normal;
  font-size: 90%;
  text-align: center;
  border: 1px solid #333;
  border-left: 0;
}
/* line 27, ../scss/modules/_main_nav.scss */
#mainnav #primarynav ul.mega-menu > li.current-menu-item, #mainnav #primarynav ul.mega-menu > li.mega-current_page_item, #mainnav #primarynav ul.mega-menu > li.current-page-ancestor {
  background: white !important;
  border-bottom: 1px solid #fff;
}
/* line 33, ../scss/modules/_main_nav.scss */
#mainnav #primarynav ul.mega-menu > li.current-menu-item a, #mainnav #primarynav ul.mega-menu > li.mega-current_page_item a, #mainnav #primarynav ul.mega-menu > li.current-page-ancestor a {
  color: #1E4287;
}
/* line 38, ../scss/modules/_main_nav.scss */
#mainnav #primarynav ul.mega-menu > li.mega-toggle-on {
  background: white !important;
}
/* line 42, ../scss/modules/_main_nav.scss */
#mainnav #primarynav ul.mega-menu > li > a {
  display: block;
  color: #61415B;
  text-decoration: none;
}
/* line 47, ../scss/modules/_main_nav.scss */
#mainnav #primarynav ul.mega-menu > li > a:hover {
  background: white;
  color: #61415B;
}

/* MAIN NAVIGATION */
/* line 59, ../scss/modules/_main_nav.scss */
.navbar {
  margin-bottom: 0;
  border: 0;
}

/* line 63, ../scss/modules/_main_nav.scss */
.navbar-inverse {
  background: transparent;
}

/* line 66, ../scss/modules/_main_nav.scss */
.navbar-inverse .navbar-brand {
  color: #fff;
}

/* line 70, ../scss/modules/_main_nav.scss */
.navbar-toggle {
  margin-right: 0;
}

@media (max-width: 767px) {
  /* line 75, ../scss/modules/_main_nav.scss */
  #mainnav {
    float: none;
    width: 100%;
  }
  /* line 80, ../scss/modules/_main_nav.scss */
  #mainnav #primarynav .mega-menu-wrap {
    display: table;
    width: 100%;
  }
  /* line 84, ../scss/modules/_main_nav.scss */
  #mainnav #primarynav .mega-menu-wrap > ul {
    display: table-row;
  }
  /* line 87, ../scss/modules/_main_nav.scss */
  #mainnav #primarynav .mega-menu-wrap > ul > li {
    display: table-cell;
    float: none;
  }
  /* line 91, ../scss/modules/_main_nav.scss */
  #mainnav #primarynav .mega-menu-wrap > ul > li > a {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 1, ../scss/modules/_utility_bar.scss */
#utilities {
  text-align: right;
  padding: 0;
}

/* line 6, ../scss/modules/_utility_bar.scss */
#utilitybar {
  float: left;
}
/* line 9, ../scss/modules/_utility_bar.scss */
#utilitybar ul.menu {
  margin-bottom: 0;
}

/* line 14, ../scss/modules/_utility_bar.scss */
#menu-utilities li {
  display: inline-block;
  list-style: none;
}
/* line 18, ../scss/modules/_utility_bar.scss */
#menu-utilities li a {
  display: block;
  color: white;
  font-size: 0.9em;
  line-height: 40px;
  padding: 0 10px;
  text-decoration: underline;
}
/* line 26, ../scss/modules/_utility_bar.scss */
#menu-utilities li a:first-of-type {
  padding-left: 0;
}

@media (max-width: 767px) {
  /* line 37, ../scss/modules/_utility_bar.scss */
  .mobile-menu-enabled #utilities #utilitybar {
    float: none;
  }
  /* line 41, ../scss/modules/_utility_bar.scss */
  .mobile-menu-enabled #utilities #menu-utilities {
    margin: 15px 45px;
  }
  /* line 44, ../scss/modules/_utility_bar.scss */
  .mobile-menu-enabled #utilities #menu-utilities li {
    display: block;
    border-bottom: 1px solid #dee0e2;
  }
  /* line 48, ../scss/modules/_utility_bar.scss */
  .mobile-menu-enabled #utilities #menu-utilities li:last-of-type {
    border-bottom: none;
  }
  /* line 52, ../scss/modules/_utility_bar.scss */
  .mobile-menu-enabled #utilities #menu-utilities li a {
    text-align: left;
  }
}
/* line 1, ../scss/modules/_menus.scss */
.home.page #content {
  /* add id selector to outweigh some irresponsible rules declared elsewhere */
}
/* line 4, ../scss/modules/_menus.scss */
.home.page #content .descriptive-menu li,
.home.page #content .menu li {
  padding: 0;
  border-width: 0;
}

/* line 2, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news > h3 {
  margin-top: 16px;
  margin-bottom: 20px;
  padding-top: 16px;
  padding-bottom: 8px;
  border-top: none;
  border-bottom: 1px solid #545454;
}
/* line 11, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news .news-date-wrapper {
  margin-top: 1em;
  margin-bottom: 0;
}
/* line 16, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news h2 {
  margin-bottom: 0;
}
/* line 20, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news h3 {
  margin-top: 0;
}
/* line 24, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news .media {
  margin-top: 0;
}
/* line 28, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news .media-body a {
  text-decoration: none !important;
}
/* line 2, ../scss/global/_mixins.scss */
.ht-feature-news .news-item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 36, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news .news-medium {
  display: inline-block;
  width: 50%;
  padding-bottom: 20px;
  vertical-align: top;
}
/* line 42, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news .news-medium:nth-of-type(1) {
  padding-right: 10px;
}
/* line 46, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news .news-medium:nth-of-type(2) {
  padding-left: 10px;
}
/* line 50, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news .news-medium img {
  width: 100%;
}
/* line 54, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news .news-medium .media-body {
  display: none;
}
/* line 59, ../scss/widgets/ht_feature_news/_main.scss */
#content .ht-feature-news .news-medium p {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 64, ../scss/widgets/ht_feature_news/_main.scss */
#content .ht-feature-news .news-medium h3 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 71, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news .news-thumbnail {
  border-top: 1px solid #888;
  padding: 10px 0;
}
/* line 75, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news .news-thumbnail img {
  float: left;
  max-width: 100px;
  margin-right: 20px;
  border: 1px solid #aaa;
}
/* line 82, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news .news-thumbnail h3 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/* line 88, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news .news-thumbnail .news-date-wrapper {
  margin-top: 0;
}
/* line 92, ../scss/widgets/ht_feature_news/_main.scss */
#content .ht-feature-news .news-thumbnail p {
  margin-bottom: 0;
}
/* line 96, ../scss/widgets/ht_feature_news/_main.scss */
.ht-feature-news .news-thumbnail .more {
  display: none;
}

/* line 1, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know {
  background-color: #428bca;
  border: 1px solid #428bca;
  position: relative;
  margin-top: 35px;
}
/* line 7, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know .need-to-know-inner {
  padding: 15px 15px;
}
/* line 11, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know .widget-title {
  margin: 0;
  padding: 5px 15px;
  background-color: #fff;
  color: #428bca;
  border-bottom: none;
}
/* line 19, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know .item-title {
  margin: 0;
  padding: 0 20px 0 0;
  border-bottom: none;
}
/* line 24, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know .item-title a {
  color: #fff;
}
/* line 27, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know .item-title a:visited, #need-to-know .item-title a:active, #need-to-know .item-title a:hover {
  color: #fff !important;
}
/* line 35, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know .news-date-wrapper {
  margin: 10px 0;
}
/* line 38, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know .news-date-wrapper span {
  color: #fff !important;
  /* outweighing another irresponsible !important defined elsewhere... */
}
/* line 43, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know .excerpt {
  color: #fff;
  margin-bottom: 0;
}
/* line 48, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know .need-to-know-list {
  margin-top: 15px;
  margin-bottom: 0;
}
/* line 52, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know .need-to-know-list li {
  display: none;
  padding-top: 0;
  border-top: 0;
}
/* line 57, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know .need-to-know-list li:first-of-type {
  display: list-item;
}
/* line 63, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know .page-list {
  text-align: center;
  margin-bottom: 0;
}
/* line 67, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know .page-list li {
  display: inline-block;
  padding: 0px 10px;
  border: 1px solid #d5e8f4;
  color: #d5e8f4;
  line-height: 24px;
  cursor: pointer;
}
/* line 76, ../scss/widgets/dw_sticky_news/_main.scss */
#need-to-know .page-list li.selected, #need-to-know .page-list li:hover {
  background-color: #b2d4eb;
  color: #428bca;
}

/* line 1, ../scss/shared/_message.scss */
.message {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 0;
  position: relative;
}
/* line 7, ../scss/shared/_message.scss */
.message h3 {
  margin: 0;
  padding-bottom: 0;
}
/* line 12, ../scss/shared/_message.scss */
.message .meta {
  margin-left: 20px;
}
/* line 16, ../scss/shared/_message.scss */
.message .content {
  margin-right: 20px;
}
/* line 20, ../scss/shared/_message.scss */
#content .message .content p:last-of-type {
  /* again, using the id selector only to overpower another irresponsible rule defined elsewhere */
  margin-bottom: 0;
}
/* line 24, ../scss/shared/_message.scss */
.message.message-warning {
  background-color: #ffc10e;
}
/* line 28, ../scss/shared/_message.scss */
.message .close {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 1;
  color: #fff;
  text-shadow: none;
  font-weight: normal;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

@media only screen and (max-width: 992px) {
  /* line 43, ../scss/shared/_message.scss */
  .content {
    margin-left: 20px;
    margin-top: 10px;
  }
}
/* line 1, ../scss/shared/_breadcrumbs.scss */
.breadcrumbs {
  padding: 15px 10px 0;
}

/* line 2, ../scss/content/homepage/_main.scss */
.home.page #content .category-block ul li a {
  font-size: 1em;
}
/* line 7, ../scss/content/homepage/_main.scss */
.home.page .category-block a h2 {
  border-bottom: none;
}
/* line 11, ../scss/content/homepage/_main.scss */
.home.page .category-block ul {
  list-style-type: none;
  padding-left: 0;
}
/* line 15, ../scss/content/homepage/_main.scss */
.home.page .category-block ul li {
  margin: 0;
  padding: 0.5em 0 0.5em 0;
  list-style: none;
  border-top: 1px solid #eee;
}
/* line 21, ../scss/content/homepage/_main.scss */
.home.page .category-block ul li.first-link, .home.page .category-block ul li:first-of-type {
  border-top-width: 0;
}
/* line 28, ../scss/content/homepage/_main.scss */
.home.page .category-block .widget-box {
  font-size: 1em;
}
/* line 33, ../scss/content/homepage/_main.scss */
.home.page img.size-full {
  width: 100%;
}
/* line 37, ../scss/content/homepage/_main.scss */
.home.page .homepage-settings-placeholder {
  position: relative;
  margin-top: 35px;
}
/* line 41, ../scss/content/homepage/_main.scss */
.home.page .homepage-settings-placeholder img {
  width: 100%;
}
/* line 45, ../scss/content/homepage/_main.scss */
.home.page .homepage-settings-placeholder a {
  position: absolute;
  right: 2.8%;
  top: 1.4%;
  width: 37.8%;
  height: 3.5%;
  /*background-color: rgba(255, 0, 0, .3);*/
}
/* line 55, ../scss/content/homepage/_main.scss */
.home.page .feeds {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  border-top: 3px solid #0b0c0c;
}
/* line 61, ../scss/content/homepage/_main.scss */
.home.page .feeds img {
  width: 100%;
}
/* line 67, ../scss/content/homepage/_main.scss */
.home.page .department-news-container h3 {
  margin-bottom: 0;
}
/* line 73, ../scss/content/homepage/_main.scss */
.home.page .department-news .news-item {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-right: 20px;
  border-top: 1px solid #888;
}
/* line 80, ../scss/content/homepage/_main.scss */
.home.page .department-news .more-in-news {
  border-top: 1px solid #888;
}
/* line 87, ../scss/content/homepage/_main.scss */
.home.page .ht-feature-news.large-news .more-in-news {
  display: none;
}
/* line 93, ../scss/content/homepage/_main.scss */
.home.page .ht-feature-news.small-news .more-in-news {
  border-top: 1px solid #888;
}

@media only screen and (max-width: 767px) {
  /* line 104, ../scss/content/homepage/_main.scss */
  .home.page .ht-feature-news.department-news .news-item {
    width: 100%;
  }
}
/* line 2, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tabbed-filter {
  display: inline-block;
  margin-top: 30px;
  padding-left: 0;
}
/* line 7, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tabbed-filter li {
  display: inline-block;
  border-radius: 10px;
  vertical-align: bottom;
}
/* line 14, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tabbed-filter li:hover .icon, .guidance-and-support .tabbed-filter li.selected .icon {
  background-color: #428bca;
}
/* line 19, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tabbed-filter li a {
  display: block;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  outline: none;
}
/* line 27, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tabbed-filter li .icon {
  display: inline-block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background-color: #ddd;
  line-height: 30px;
  color: #fff;
}
/* line 36, ../scss/content/guidance_and_support/_main.scss */
.selected .guidance-and-support .tabbed-filter li .icon {
  background-color: #428bca;
}
/* line 41, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tabbed-filter li .label {
  display: inline-block;
  color: #333;
}
/* line 47, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tabbed-filter li[data-sort-type="popular"] {
  margin-right: 15px;
}
/* line 49, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tabbed-filter li[data-sort-type="popular"] .icon {
  line-height: 25px;
  font-size: 25px;
}
/* line 53, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tabbed-filter li[data-sort-type="popular"] .icon:after {
  content: "\2605";
}
/* line 60, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tabbed-filter li[data-sort-type="alphabetical"] .icon {
  font-weight: bold;
  font-size: 15px;
}
/* line 64, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tabbed-filter li[data-sort-type="alphabetical"] .icon:after {
  content: "A";
}
/* line 73, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tree {
  display: flex;
  margin-bottom: 30px;
}
/* line 2, ../scss/global/_mixins.scss */
.guidance-and-support .tree:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 79, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tree.collapsed .subcategories {
  margin-left: -13%;
  transition: margin-left .3s;
}
/* line 84, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tree.collapsed .links {
  width: 50%;
  transition: width .3s;
}
/* line 90, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .tree .all-categories {
  display: none;
  padding: 20px;
  color: #0b0c0c;
  text-decoration: underline;
  outline: none;
}
/* line 100, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .item-container {
  position: relative;
  float: left;
  width: 33%;
  overflow: hidden;
  background-color: #fff;
}
/* line 107, ../scss/content/guidance_and_support/_main.scss */
#content .guidance-and-support .item-container .item-list {
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
/* line 113, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .item-container .category-name {
  margin-top: 0;
  padding-left: 20px;
}
/* line 118, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .item-container h3 {
  margin: 0;
  padding: 0;
  color: #428bca;
}
/* line 124, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .item-container ul a {
  position: relative;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  line-height: 24px;
  outline: none;
}
/* line 134, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .item-container li.selected, .guidance-and-support .item-container li:hover {
  background-color: #dee0e2;
}
/* line 138, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .item-container li.selected h3, .guidance-and-support .item-container li:hover h3 {
  color: #333;
}
/* line 144, ../scss/content/guidance_and_support/_main.scss */
#content .guidance-and-support .item-container .description {
  color: #333;
  margin: 0 !important;
}
/* line 152, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .categories .description {
  display: none;
}
/* line 157, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .categories,
.guidance-and-support .subcategories {
  border-right: 1px solid #333;
}
/* line 161, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .categories h3,
.guidance-and-support .subcategories h3 {
  padding-right: 10px;
}
/* line 167, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .categories ul a:after,
.guidance-and-support .subcategories ul a:after {
  position: absolute;
  font-size: 30px;
  line-height: 30px;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  content: "\203a";
}
/* line 178, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .categories li.loading a:after,
.guidance-and-support .subcategories li.loading a:after {
  content: "";
  background-image: url("../images/loading.png");
  width: 16px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
}
/* line 188, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .subcategories,
.guidance-and-support .links {
  display: none;
  position: relative;
  margin-left: -1px;
  border-left: 1px solid #333;
}
/* line 197, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .subcategories.visible,
.guidance-and-support .links.visible {
  display: block;
}
/* line 201, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .subcategories .sort-order,
.guidance-and-support .links .sort-order {
  width: 90px;
  position: absolute;
  margin: 10px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
/* line 212, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .subcategories .item-list,
.guidance-and-support .links .item-list {
  position: relative;
  background-color: #fff;
}
/* line 217, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .subcategories .item-list,
.guidance-and-support .subcategories .category-name,
.guidance-and-support .links .item-list,
.guidance-and-support .links .category-name {
  margin-left: 0;
  transition: margin-left .3s;
}
/* line 224, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .subcategories.current .item-list,
.guidance-and-support .subcategories.current .category-name,
.guidance-and-support .links.current .item-list,
.guidance-and-support .links.current .category-name {
  margin-left: 90px;
  transition: margin-left .3s;
}
/* line 233, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .subcategories.item-container {
  transition: margin-left .3s;
}
/* line 239, ../scss/content/guidance_and_support/_main.scss */
.guidance-and-support .links.item-container {
  transition: width .3s;
}

@media (max-width: 767px) {
  /* line 251, ../scss/content/guidance_and_support/_main.scss */
  .guidance-and-support .tree-container {
    overflow: hidden;
    width: 100%;
  }
  /* line 256, ../scss/content/guidance_and_support/_main.scss */
  .guidance-and-support .tree {
    width: 303%;
    transition: margin-left .15s;
  }
  /* line 260, ../scss/content/guidance_and_support/_main.scss */
  .guidance-and-support .tree[data-show-column="1"] {
    margin-left: 0%;
  }
  /* line 264, ../scss/content/guidance_and_support/_main.scss */
  .guidance-and-support .tree[data-show-column="2"] {
    margin-left: -100%;
  }
  /* line 268, ../scss/content/guidance_and_support/_main.scss */
  .guidance-and-support .tree[data-show-column="3"] {
    margin-left: -200%;
  }
  /* line 273, ../scss/content/guidance_and_support/_main.scss */
  .guidance-and-support .tree.collapsed .subcategories {
    margin-left: 0;
  }
  /* line 277, ../scss/content/guidance_and_support/_main.scss */
  .guidance-and-support .tree.collapsed .links {
    width: 33%;
  }
  /* line 283, ../scss/content/guidance_and_support/_main.scss */
  .guidance-and-support .item-container {
    border: none;
    margin-left: 0;
  }
  /* line 288, ../scss/content/guidance_and_support/_main.scss */
  .guidance-and-support .item-container.current .item-list,
  .guidance-and-support .item-container.current .category-name {
    margin-left: 0;
    transition: margin-left .3s;
  }
  /* line 295, ../scss/content/guidance_and_support/_main.scss */
  .guidance-and-support .item-container .item {
    display: block !important;
  }
}
