// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-agency-wide-banner {

    background: #000000;
    color: #FFFFFF;
    padding: 30px;

    h2 {
        ff-title();
        font-weight: 400;
        font-size: $mantle;
        margin-bottom: 20px;
    }

    .banner-link {
      a {
        color: #FFFFFF;
        text-decoration: none;
      }
    }
}
