// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"


.c-intranet-switcher {
  clearfix();
  &__switch {
    margin-bottom: $spacing;

    a {
      display: block;
      //background-color: $boxBg;
      padding: $spacing*.5;
      padding-left: 0;
      color: $text-colour;
      //border: 2px solid $boxBg;
      font-size: $outerCore;
      &:before {
        width: $spacing*8;
        margin-right: $spacing;
        vertical-align: middle;
      }
      &:hover {
        background-color: $light;
        color: $mid;
        //border: 2px solid $boxBg;
      }
    }
  }

  &__list-element {
    margin-bottom: $spacing*2;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__heading {
    font-size: $outerCore;
    margin-bottom: 0 !important;
  }
}
