.page-search-results {
  .page-title {
    border-bottom: none;
  }

  .content-filters {
    margin-top: 24px;
  }

  .search-results-title {
    font-weight: normal;
    margin-bottom: 50px;
  }

  .search-filtered-results-title {
    .results-count {
      @extend %large-heading;
      font-weight: bold;
    }

    .results-count-description {
      @extend %large-copy;
      font-weight: bold;
    }
  }

  .no-results-info {
    h4 {
      margin-bottom: 0;
    }

    &.hidden {
      display: none;
    }
  }

  .search-item {
    .title {
      margin-top: 30px;
    }

    .meta {
      color: $grey-2;
    }

    .title,
    .meta {
      margin-bottom: 5px;
    }

    .excerpt {
      @extend %medium-copy;
    }

    .file {
      margin-top: 5px;
      color: $grey-1;

      .file-link {
        text-decoration: underline;
      }
    }
  }
}
