// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-social-links {
  a {
    display: block;
    margin-bottom: $spacing;
  }
  .u-icon {
    display: inline-block;
    background: $dark;
    color: $light;
    padding: $spacing*.5;
    margin-right: $spacing;
    font-size: $outerCore;
    vertical-align: middle;
  }
}
