// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit"

.c-pagination {
  ieoldcf();

  .more-btn{
    width: 375px;
    height: 90px;
    padding: 10px 0;
  }
}
