/**
 * Admin CSS related to personalisation
 */

.agency-filter-filter {
    margin: 0 5px;
    padding: 5px;
}

.agency-checklist, 
.inline-edit-row fieldset span.inline-edit-categories-label:nth-child(4) {
    display: none;
}

.user-profile-picture {
    display: none;
}
