.guidance-and-support {
  .tabbed-filters {
    margin-top: 30px;
  }

  .tree {
    @include clearfix;
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;

    &.collapsed {
      .categories {
      }

      .subcategories {
        margin-left: -22%;
        width: 25%;
        transition: margin-left .3s;
      }

      .links {
        width: 50%;
        transition: width .3s;
      }
    }

    .all-categories {
      @extend %small-copy;
      display: none;
      padding: 20px;
      color: $black;
      text-decoration: underline;
      outline: none;
    }
  }

  .item-container {
    position: relative;
    float: left;
    width: 33%;
    overflow: hidden;
    background-color: $white;

    #content & .item-list {
      margin-bottom: 0;
      padding: 0;
      list-style-type: none;
    }

    .category-name {
      margin-top: 0;
      padding-left: 20px;
    }

    h3 {
      margin: 0;
      padding: 0;
      color: #428bca;
    }

    ul a {
      position: relative;
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      line-height: 24px;
      outline: none;
    }

    li {
      &.selected,
      &:hover {
        background-color: $dw-link;

        h3,
        .description {
          color: $white;
        }
      }
    }

    .description {
      color: $black;
    }
  }

  .categories {
    .item h3 {
      @extend %medium-copy;
      font-weight: normal;
    }

    .description {
      display: none;
    }

    .item.selected a:after {
      background-image: url("../images/chevron_white.png");
    }
  }

  .categories,
  .subcategories {
    border-right: 1px solid $grey-2;

    h3 {
      @extend %medium-heading;
      padding-right: 10px;
    }

    ul {
      a {
        &:after {
          position: absolute;
          right: 10px;
          top: 50%;
          width: 6px;
          height: 9px;
          margin-top: -5px;
          background-image: url("../images/chevron_blue.png");
          content: "";

          &:hover {
            background-image: url("../images/chevron_white.png");
          }
        }
      }
    }

    li.item.loading a:after {
      content: "";
      background-image: url('../images/loading.png');
      width: 16px;
      height: 16px;
      top: 50%;
      margin-top: -8px;
    }
  }

  .subcategories,
  .links {
    $sortLabelWidth: 90px;

    display: none;
    position: relative;
    margin-left: -1px;
    border-left: 1px solid $grey-2;

    &.visible {
      display: block;
    }

    .sort-order {
      width: $sortLabelWidth;
      position: absolute;
      margin: 10px;
      font-weight: bold;
      line-height: 24px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
    }

    .item-list {
      position: relative;
      background-color: $white;
    }

    .item-list,
    .category-name {
      margin-left: 0;
      transition: margin-left .3s;
    }

    &.current {
      .item-list,
      .category-name {
        margin-left: $sortLabelWidth;
        transition: margin-left .3s;
      }
    }
  }

  .subcategories {
    &.item-container {
      transition: margin-left .3s;
    }
  }

  .links {
    &.item-container {
      transition: width .3s;
    }

    h3 {
      @extend %medium-heading;
    }
  }
}

@media(max-width: 767px) {
  .guidance-and-support {
    .tree-container {
      overflow: hidden;
      width: 100%;
    }

    .tree {
      width: 303%;
      transition: margin-left .15s;

      &[data-show-column="1"] {
        margin-left: 0%;
      }

      &[data-show-column="2"] {
        margin-left: -100%;
      }

      &[data-show-column="3"] {
        margin-left: -200%;
      }

      &.collapsed {
        .subcategories {
          margin-left: 0;
        }

        .links {
          width: 33%;
        }
      }
    }

    .item-container {
      border: none;
      margin-left: 0;

      &.current {
        .item-list,
        .category-name {
          margin-left: 0;
          transition: margin-left .3s;
        }
      }

      .item {
        display: block !important;
      }
    }
  }
}
