.guidance-and-support {
  .search-form {
    margin-top: 30px;
  }

  .guidance-categories-list {
    @include clearfix;

    .category-item {
      float: left;
      width: 33.3333%;
      margin-bottom: 20px;
      padding-top: 20px;
      padding-right: 20px;

      .category-title {
        @extend %medium-heading;
        margin: 0;

        a {
          text-decoration: underline;
        }
      }

      &:nth-of-type(-n + 3) {
        border-top: none;
      }

      &:nth-of-type(3n + 1) {
        clear: both;
      }
    }

    &.small {
      margin-top: 40px;
      padding-top: 40px;
      border-top: 3px solid $black;

      .category-item {
        margin-bottom: 0;
      }

      .children-list {
        display: none;
      }
    }

    .children-list {
      padding-left: 10px;

      .child-item {
        margin-top: 5px;
        list-style-type: disc;

        &.see-all {
          margin-top: 15px;

          .child-title a {
            font-weight: bold;

            &:after {
              content: " \00bb";
            }
          }
        }

        .child-title {
          margin: 0;
          line-height: 20px;

          a {
            @extend %medium-copy;
            font-weight: normal;
          }
        }
      }
    }
  }
}
