// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit";

.c-article-item-feature {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;

  &--thumbnail {
    display: block;
  }  

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &__excerpt {
    font-size: $baseFont;
    font-weight: 400;
  }

  .c-homepage-feature-widget & {
    +above('s') {
      column(1/2, $cycle: 2);
    }

    .c-article-item-feature--title {
      font-size: $outerCore;
      text-decoration: underline;
      margin-bottom: 1rem;
    }
  }
}
