// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit"


.c-events-item {
  oldiecf();
  width: 100%;
  float:left;
  &__time, &__location {
    h2 {
      width: auto;
      margin-right: 5px;
    }
    time {
      width: auto;
    }
    address {
      width: 65%;
    }
  }
  /* PARENT OVVERIDES */

  .c-events-list & {
    margin-right: 1%
  }

}

.c-events-item-homepage {
  oldiecf();
  width: 45% !important;
  float:left;
}
