/* media queries for responsive styles */

@media only screen and (max-width: 1200px) {
  #peoplenav  {
    padding-top: 3em;
  }

  .grid-sizer {
    width: 48% !important;
  }
  .grid-item {
    width: 47% !important;
  }
  .pgrid-sizer {
    width: 31% !important;
  }
  .pgrid-item {
    width: 30% !important;
  }

  .page-template-page-full-width-php .grid-sizer {
    width: 49% !important;
  }
  .page-template-page-full-width-php .grid-item {
    width: 48% !important;
  }
  .page-template-page-left-nav-php .grid-sizer {
    width: 48% !important;
  }
  .page-template-page-left-nav-php .grid-item {
    width: 47% !important;
  }
  .page-template-page-left-nav-wide-php .grid-sizer {
    width: 32%;
  }
  .page-template-page-left-nav-wide-php .grid-item {
    width: 31%;
  }
  .content-wrapper {
    padding: 0.5em 0.5em !important;
  }
}

@media only screen and (max-width: 990px) {
  .grid-sizer {
    width: 48% !important;
  }
  .grid-item {
    width: 47% !important;
  }
  .pgrid-sizer {
    width: 48.5% !important;
  }
  .pgrid-item {
    width: 47% !important;
  }

  .page-template-page-full-width-php .grid-sizer {
    width: 48% !important;
  }
  .page-template-page-full-width-php .grid-item {
    width: 47% !important;
  }
  .page-template-page-left-nav-php .grid-sizer {
    width: 49% !important;
  }
  .page-template-page-left-nav-php .grid-item {
    width: 48% !important;
  }
  .page-template-page-left-nav-wide-php .grid-sizer {
    width: 49% !important;
  }
  .page-template-page-left-nav-wide-php .grid-item {
    width: 48% !important;
  }
}

@media only screen and (max-width: 768px) {
  #crownlink {
    font-size: 0.8em;
  }
  .grid-sizer {
    width: 49% !important;
  }
  .grid-item {
    width: 48% !important;
  }
  .pgrid-sizer {
    width: 49% !important;
  }
  .pgrid-item {
    width: 48% !important;
  }

  .page-template-page-full-width-php .grid-sizer {
    width: 49% !important;
  }
  .page-template-page-full-width-php .grid-item {
    width: 48% !important;
  }
  .page-template-page-left-nav-php .grid-sizer {
    width: 100% !important;
  }
  .page-template-page-left-nav-php .grid-item {
    width: 100% !important;
  }
  .page-template-page-left-nav-wide-php .grid-sizer {
    width: 49% !important;
  }
  .page-template-page-left-nav-wide-php .grid-item {
    width: 48% !important;
  }
}

@media only screen and (max-width: 320px) {
  .grid-sizer {
    width: 100% !important;
  }
  .grid-item {
    width: 100% !important;
  }
  .pgrid-sizer {
    width: 100% !important;
  }
  .pgrid-item {
    width: 100% !important;
  }

  .page-template-page-full-width-php .grid-sizer {
    width: 100% !important;
  }
  .page-template-page-full-width-php .grid-item {
    width: 100% !important;
  }
  .page-template-page-left-nav-php .grid-sizer {
    width: 100% !important;
  }
  .page-template-page-left-nav-php .grid-item {
    width: 100% !important;
  }
  .page-template-page-left-nav-wide-php .grid-sizer {
    width: 100% !important;
  }
  .page-template-page-left-nav-wide-php .grid-item {
    width: 100% !important;
  }
}

