*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$gap: 30px; /*total whitespace between columns */
$size-desktop: 1024px; /* desktop starts at this point */
$size-tablet: 768px; /* tablet starts at this point */
$grid-min-size: 320px; /* grid's minimum width (incl. outer spacing) */
$grid-max-size: 1020px; /* grid's maximum width (incl. outer spacing) */

@mixin breakpoint($min, $max) {
  @if $max == null {
    @media (min-width: $min) {
      @content;
    }
  }
  @else {
    @media (min-width: $min) and (max-width: ($max - 1)) {
      @content;
    }
  }
}

@mixin desktop-mq(){
  @include breakpoint($size-desktop, null) {
    @content;
  }
}

@mixin tablet-mq(){
  @include breakpoint($size-tablet, $size-desktop) {
    @content;
  }
}

@mixin mobile-mq(){
  @include breakpoint(0, $size-tablet) {
    @content;
  }
}

.grid {
	max-width: $grid-max-size;
	min-width: $grid-min-size;
  margin-left: auto;
  margin-right: auto;

  [class*='col-'] {
    float: left;
    overflow: hidden;
    padding-left: $gap/2;
    padding-right: $gap/2;
  }

  &:after {
    display: table;
    clear: both;
    content: "";
  }

  &.double-outer-gap {
    padding-left: $gap/2;
    padding-right: $gap/2;
  }

  .grid {
    margin-left: -$gap/2;
    margin-right: -$gap/2;
  }
}

@for $i from 1 through 11 {
  .push-#{$i} {
    margin-left: (100%*$i/12);
  }
}

@for $i from 1 through 12 {
  .col-lg-#{$i} {
    width: (100%/12*$i);
  }
}

/* tablet */
@include tablet-mq(){
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: (100%/12*$i);
    }
  }
}


.mobile-only {
  display: none;
}

@include mobile-mq(){
  .mobile-only {
    display: block;
  }
}

/* mobile */
@include mobile-mq(){
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: (100%/12*$i);
    }
  }
}
