// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-popular-content {
  border-top: 3px solid $border;
  margin: $spacing 0;

  .l-secondary {
    margin-top:$spacing*2;
  }
}
