// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-comment-form {
    .form-submit{
        .submit{
            position: relative;
            display: inline-block;
            padding: 8px 15px 5px;
            cursor: pointer;
            text-decoration: none;
            margin-right: 10px;
            vertical-align: middle;
            background-color: #00823b;
            box-shadow: 0 2px 0 #003518;
            color: #ffffff;
            font-size: 19px;
            line-height: 35px;
        }
    }
    
    textarea{
        height: 100px;
        transition: height .15s;
        border: 1px solid #bfc1c3;
    }
    
}
