.news-widget.need-to-know {
  .widget-title {
    @extend %large-heading;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey-1;
  }

  .widget-body {
    background-color: #f00;
    border-top-width: 0;
  }

  .news-list {
    margin-top: 0;
  }

  .news-item {
    display: none;
    margin: 15px 0;

    &:selected {
      display: block;
    }

    .news-heading {
      @extend %medium-heading;
      margin: 0 15px 15px;
      padding: 0;
      border-bottom: none;

      a {
        display: block;
        overflow: hidden;
        color: $white;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:visited,
        &:active,
        &:hover {
          color: $white !important;
        }
      }
    }

    .news-thumbnail-container {
      display: block;
      margin-left: 15px;
      margin-right: -10px;
      margin-bottom: 20px;
    }

    .news-thumbnail {
      display: block;
      max-width: 100%;
    }

    .news-content {
      margin-bottom: 15px;
      padding-right: 15px;
    }

    .news-date {
      margin-top: 3px;
      color: $white;
    }

    .news-excerpt {
      margin-top: -4px;
      color: $white;
    }
  }

  .page-list {
    @include clearfix;
    margin-bottom: 0px;
    margin-right: -1px;
    margin-left: -1px;
    text-align: left;
    background-color: $white;

    .page {
      width: 33.33333%;
      float: left;

      a {
        @extend %small-copy;
        display: block;
        margin-bottom: 2px;
        padding: 0 15px;
        line-height: 40px;
        background-color: $grey-3;
        border-style: solid;
        border-color: $white;
        border-width: 0;
        margin-left: 1px;
        margin-right: 1px;
        overflow: hidden;
        text-decoration: underline;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.selected,
      &:hover {
        a {
          margin-bottom: 0;
          padding-bottom: 2px;
          background-color: $sticky-news;
          border-color: $white;
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

@include lte-tablet-mq() {
  .news-widget.need-to-know {
    .news-item .news-content {
      margin-top: 20px;
      padding-left: 15px;
    }
  }
}

@include mobile-mq() {
  .news-widget.need-to-know {
    .page-list .page {
      width: 100%;
    }
  }
}
