// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit"

.c-feedback-container {
    ieoldcf();
 	overflow: hidden;
	.o-arrow-toggle-link {
        ieoldcf();
        text-align: left;
		float: left;
		width: 100%;
		display: block;
		padding: 0;
		.u-icon--circle-down{
			margin-right: 5px;
		}
	}
}
