.template-generic,
.template-generic-nav {
  h1 {
    margin-top: 25px;
  }

  .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    background-image: url("../images/blog_icons_x2.png");
    background-size: auto 100%;
    vertical-align: top;
  }

  .post-social-actions {
    @include clearfix;
    padding: 10px 0;
    border-style: solid;
    border-color: $grey-2;
    border-width: 1px 0;
  }

  .template-container {
    .info-list {
      display: none;
    }

    .excerpt {
      @extend %larger-copy;
      margin-top: 30px;
    }
  }
}
