// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-article-byline {


  // Parent overrides

  .c-news-article & {
    &__photo {
      display:none;
    }
    &__intro,
    &__date {
      display: block;
    }
  }

  .c-news-article & {
    font-size: $outerCore;
    margin-bottom: $spacing*3
  }
}
