// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-sidebar-banner {
  clearfix()
  margin: $spacing*2 0;
  width: 100%;
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .o-title {

    &--subtitle {
      margin-top: $spacing*2;
    }
  }
}
