// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-left-hand-menu {
  ul {
    border-top: 1px solid $border;
    & ul {
      padding-left: $spacing*2;
    }
  }

  li {
    border-bottom: 1px solid $border;
    a {
      display: block;
      padding: $spacing*.5 0;
    }

    &:last-of-type {
      border-bottom: 0;
    }

    // Transitions disbaled until they can be tested properly on an integrated template.

    &.page_item_has_children {
      > a {
        @extend .o-arrow-toggle-link-after;
        &:after {
          // Flip the arrow to point up
          transform: rotate(180deg);
          //transition transform .3s ease-in-out;
        }
        ul {
          // Negative margin applied to line up arrows for children with children.
          margin-right: -($spacing*2);
        }
      }
      &.u-closed {
        // flip the arrow back when the item is closed
        a:after {
          transform: rotate(0deg);
        }
      }
    }

    .children {
      max-height: 9999px // set a max-height this will never reach to ensure no cut-off
      //transition: padding .2s ease-in-out, max-height .8s ease-in-out;
    }
  }
}
