.ui-autocomplete {
  float: left;
  z-index: 1;
  background-color: #fff;
  border: 1px solid $black;
  overflow: hidden;

  .ui-menu-item {
    padding: 5px 10px;
  }

  .ui-state-focus {
    background-color: $govuk-blue;
    color: $white;
  }
}
