.beta-banner {
  border-bottom: 1px solid $grey-2;
  padding: 0 0 10px;

  .beta-icon,
  .message {
    @extend %medium-copy;
  }

  .beta-icon {
    display: inline-block;
    margin-right: 10px;
    padding: 2px 10px 0;
    /*background-color: $orange; <-- beta */
    background-color: $pink;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
  }

  .message {
    display: inline-block;
    margin-top: 0;
    padding: 0;
    padding-left: 10px;
  }
}

@include mobile-mq() {
  .beta-banner {
    .message {
      text-align: center;
    }
  }
}
