.breadcrumbs  {
	padding: 15px 0 0;
  margin-bottom: 25px;

  a,
  span {
    @extend %medium-copy;
    color: $black;
  }

  a {
    text-decoration: underline;
  }

  > span {
    &:after {
      display: inline-block;
      width: 6px;
      height: 11px;
      margin: 0 8px;
      background-image: url('../images/breadcrumb_separator_x2.png');
      background-size: 100% 100%;
      content: "";
    }

    &:last-of-type:after {
      display: none;
    }
  }
}
