.content-tabs {
  @include clearfix;
  margin-top: 0;
  margin-bottom: 25px;

  li {
    float: left;
    width: 50%;

    a {
      @extend %larger-copy;
      display: block;
      padding: 17px 20px;
      border: 1px solid transparent;
      border-bottom-color: #aaa;
      color: $black;
      outline: none;
    }

    &.current-menu-item {
      a {
        border-color: #aaa;
        border-bottom-color: transparent;
        color: $link-active-colour;
      }
    }
  }

  &.small-tabs {
    border-bottom: 1px solid #aaa;

    li {
      width: 33.33333%;
      margin-top: 10px;
      margin-bottom: -1px;
      background-color: $white;
    }
  }
}
