.content-nav {
  @extend %larger-copy;
  @include clearfix;

  li {
    &:before,
    &:after {
      font-size: 24px;
    }

    &:hover {
      background-color: $grey-4;
    }

    &.previous {
      float: left;

      .nav-label {
        display: block;
        text-align: left;
      }

      .page-number {
        padding-left: 15px;
        text-align: left;
      }
    }

    &.next {
      float: right;

      .nav-label {
        display: block;
        text-align: right;
      }

      .page-number {
        padding-right: 15px;
        text-align: right;
      }
    }

    a {
      display: block;
      padding: 10px 0;
      text-decoration: none;
    }

    .page-number {
      @extend %small-copy;
      display: block;
      color: $grey-1;
    }
  }
}
