.content-tabs {
  @include clearfix;
  margin-top: 45px;
  margin-bottom: 25px;

  li {
    float: left;
    width: 50%;

    a {
      @extend %larger-copy;
      display: block;
      padding: 20px;
      border: 1px solid transparent;
      border-bottom-color: #aaa;
      color: $black;
    }

    &.current-menu-item {
      a {
        border-color: #aaa;
        border-bottom-color: transparent;
        color: $link-active-colour;
      }
    }
  }
}
