/* Footer styles */

.footerwrapper {
  @include clearfix;
	background: #dee0e2;
  border-top: 1px solid $grey-1;

  .footer {
    margin: 150px 0 50px;
    color: #454a4c;

    .widget-title {
      display: none;
    }

    a {
      text-decoration: underline;
      color: #454a4c;
    }

    li {
      display: inline-block;
      margin-right: 15px;

      &.built-by:before {
        content: "Built by ";
        display: inline;
      }
    }
  }
}
