.header {
  position: relative;
  z-index: 1;
  background: $black;

  .skip-to-content-container {
    height: 0;
    padding-top: 10px;
    overflow: hidden;

    &.focused {
      height: auto;
    }

    a {
      @extend %medium-copy;
      line-height: 30px;
      color: $govuk-blue;
      text-decoration: underline;
    }
  }

  .header-top {
    padding-top: 0px;
    padding-bottom: 5px;
  }

  .header-bottom {
    position: relative;
  }

  .site-logo {
    display: block;

    a {
      display: inline-block;
    }

    img {
      width: 254px;
      height: 36px;
    }
  }

  .search-form {
    width: auto;

    .keywords-field {
      border: none;
    }
  }

  .my-moj {
    display: none;
  }
}

@include mobile-mq() {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .mobile-nav button {
      float: right;
      width: 30px;
      height: 30px;
      border: none;
      background-color: transparent;
      background-image: url('../images/mobile_menu.svg');
      background-size: 60px 30px;
      background-position: 0 0;
      margin-top: 5px;
    }

    .header-bottom {
      position: static;
    }

    .search-form {
      position: absolute;
      left: auto;
      right: 60px;
      top: 8px;
      width: 30px;
      transition: width .5s;
      padding-left: 75px;

      .keywords-field {
        width: 100%;
        float: right;
      }
    }

    &.search-opened {
      .search-form {
        width: 100%;
        transition: width .5s;
      }
    }

    .primary-nav {
      position: absolute;
      display: none;
      top: 55px;
      left: 0;
      right: 0;
      max-height: 500px;
      overflow-x: scroll;
      border-bottom: 3px solid $black;

      .category-item {
        float: none;

        .category-link {
          background-color: $white;
          &,
          &:hover {
            border: none;
            padding-bottom: 10px !important;
            border-bottom: 1px solid $black !important;
          }
        }
      }
    }

    &.menu-opened {
      .primary-nav {
        display: block;
      }
    }

    .my-moj {
      display: block;
    }
  }
}
