.header {
  position: relative;
  z-index: 1;
  background: $black;

  .skip-to-content-container {
    height: 0;
    padding-top: 10px;
    overflow: hidden;

    &.focused {
      height: auto;
    }

    a {
      @extend %medium-copy;
      line-height: 30px;
      color: $govuk-blue;
      text-decoration: underline;
    }
  }

  .header-top {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .header-bottom {
    position: relative;
  }

  .site-logo {
    display: block;

    a {
      display: inline-block;
    }

    img {
      width: 254px;
      height: 36px;
    }
  }

  .search-form {
    width: auto;

    .keywords-field {
      border: none;
    }
  }
}

@include mobile-mq() {
  #searchformdiv {
    padding-top: 10px;
  }

  .mobile-nav button {
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url('../images/mobile_menu.svg');
    background-size: 60px 30px;
    background-position: 0 0;
    margin-top: 5px;

    .mobile-menu-enabled & {
      background-position: 30px 0;
    }
  }

  .header {
    &.mobile-menu-enabled {
      .search-box,
      #mainnav {
        display: none;
      }

      #utilities {
        display: block;
      }
    }
  }
}
