.header {
  position: relative;
  z-index: 1;
  background: $black;

  .skip-to-content-container {
    height: 0;
    padding-top: 10px;
    overflow: hidden;

    &.focused {
      height: auto;
    }

    a {
      @extend %medium-copy;
      line-height: 30px;
      color: $govuk-blue;
      text-decoration: underline;
    }
  }

  .header-top {
    padding-top: 0px;
    padding-bottom: 5px;
  }

  .header-bottom {
    position: relative;
  }

  .site-logo {
    display: block;

    a {
      display: inline-block;
    }

    img {
      width: 254px;
      height: 36px;
    }
  }

  .search-form {
    width: auto;

    .keywords-field {
      border: none;
    }
  }

  .my-moj {
    display: none;
  }
}

@include mobile-mq() {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;

    .site-logo img {
      width: auto;
      height: 32px;
      margin-top: 8px;
    }

    .header-top {
      padding-bottom: 0;
    }

    .skip-to-content-container {
      display: none;
    }

    .mobile-menu-btn {
      position: absolute;
      right: 0px;
      width: 48px;
      height: 48px;
      border: none;
      background-color: transparent;
      background-image: url('../images/mobile_header.svg');
      background-size: 76px 38px;
      background-position: -33px 5px;
      background-repeat: no-repeat;
    }

    .header-bottom {
      position: static;
    }

    .search-form {
      position: absolute;
      left: auto;
      right: 48px;
      top: 0;
      width: 50px;
      height: 48px;
      padding: 0 0 0 0px;
      transition: width .5s;
      border-left: 1px solid $white;
      border-right: 1px solid $white;

      .keywords-field {
        float: right;
        width: 100%;
        height: 46px;
        margin-top: 1px;
        outline: none;
      }
    }

    .search-form .search-btn {
      top: 0;
      width: 48px;
      height: 48px;
      background-color: $black;
      border-bottom: none;
      background-image: url('../images/search_icon.svg');
      background-position: 8px 8px;
      background-size: 30px 30px;
    }

    &.search-opened {
      .search-form {
        width: calc(100% - 48px);
        transition: width .5s;
        border-right: 1px solid $dw-link;
        border-left: none;

        .search-btn {
          background-color: $dw-link;
        }
      }
    }

    &.menu-opened {
      .mobile-menu-btn {
        background-position: 5px 5px;
      }
    }

    .my-moj {
      display: block;
    }
  }
}
