.primary-nav {
  .categories-list {
    margin-top: 0;
  }

  .category-item {
    float: left;

    .category-link {
      @extend %medium-copy;
      display: block;
      padding: 0 20px;
      background-color: $main-nav-bg;
      border-right: 1px solid $black;
      border-bottom: 1px solid $black;
      font-weight: bold;
      line-height: 40px;

      &:hover {
        background-color: $white;
        text-decoration: none;
      }
    }

    &.current {
      .category-link {
        background-color: $white;
        border-bottom-color: $white;
      }
    }

    &.not-current {
      .category-link {
        color: #666;
      }
    }

    &:last-of-type {
      .category-link {
        border-right: none;
      }
    }
  }
}
