#mainnav {
  #primarynav {
    padding: 0;
    background: white;

    ul.mega-menu {
      margin-top: 0;
      margin-bottom: 0;

      > li {
        float: left;
        background: #eaedef;
        font-weight: normal;
        font-size: 90%;
        text-align: center;
        border: 1px solid #333;
        border-left: 0;

        &:last-child,
        &.last-link {
        }

        &:first-child,
        &.first-link {
        }

        &.current-menu-item,
        &.mega-current_page_item,
        &.current-page-ancestor {
          background: white !important;
          border-bottom: 1px solid #fff;

          a {
            color: #1E4287;
          }
        }

        &.mega-toggle-on {
          background: white !important;
        }

        > a {
          display: block;
          color: #61415B;
          text-decoration: none;

          &:hover  {
            background: white;
            color: #61415B;
          }
        }
      }
    }
  }
}
