#mainnav {
  #mega-menu-wrap-primary-2 {
    position: static;
  }

  #primarynav {
    padding: 0;
    background: white;

    ul.mega-menu {
      position: absolute;
      bottom: 0;
      margin-top: 0;
      margin-bottom: 0;

      > li {
        float: left;
        background: #eaedef;
        text-align: center;
        border: 1px solid #333;
        border-left: 0;

        &.current-menu-item,
        &.mega-current_page_item,
        &.mega-current-page-ancestor {
          background: white !important;
          border-bottom: 1px solid #fff;

          a {
            color: #1E4287;
          }
        }

        &.mega-toggle-on {
          background: white !important;
        }

        > a {
          display: block;
          color: #61415B;
          font-weight: bold !important; /* outweighing the plugin style which is id-based and variable... */
          text-decoration: none;

          &:hover  {
            background: white;
            color: #61415B;
          }
        }
      }
    }
  }
}

/* MAIN NAVIGATION */
.navbar {
	margin-bottom: 0;
	border: 0;
}
.navbar-inverse {
	background: transparent;
}
.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-toggle {
  margin-right: 0;
}

@include mobile_mq(){
  #mainnav {
    float: none;
    width: 100%;

    #mega-menu-wrap-primary-2 {
      position: static;
    }

    #primarynav {
      .mega-menu-wrap {
        display: table;
        width: 100%;

        > ul {
          display: table-row;
          position: relative;

          > li {
            display: table-cell;
            float: none;

            > a {
              text-align: center;
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}
