.menu-list {
  margin: 20px 30px 3px 0;

  *:focus {
    background-color: transparent;
  }

  .menu-item-container {
    position: relative;
  }

  .menu-item {
    position: relative;

    .dropdown-button {
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      bottom: 0;
      transform: rotate(180deg);
      color: $black;
      font-size: 16px;
      background: none;
      border: none;

      &:hover {
        background-color: rgba(0, 0, 0, .1);
      }
    }

    &.collapsed .dropdown-button {
      transform: rotate(0deg);
    }

    &.no-children .dropdown-button {
      display: none;
    }

    .menu-item-link {
      @extend %small-copy;
      display: block;
      margin-top: 5px;
      padding: 5px 20px 4px 10px;
      border: 1px solid $grey-2;
      background-color: $grey-4;
      font-weight: bold;
    }

    &.current {
      &:after {
        color: $white;
      }

      .menu-item-link {
        border: 1px solid $link-hover-colour;
        background-color: $link-hover-colour;
        color: $white;
        font-weight: bold;
      }
    }
  }

  .children-list {
    margin-left: 0;
  }

  .child-item {
    border-bottom: 1px solid $grey-2;
  }

  .child-item:last-of-type {
    border-bottom: none;
  }

  .child-item-link {
    @extend %small-copy;
    display: block;
    padding: 5px 10px 4px;
  }

  .child-item.highlight .child-item-link {
    color: $grey-1;
    pointer-events: none;
  }

  .collapsed .children-list {
    display: none;
  }
}
