#utilities {
	text-align: right;
  padding: 0;

  #utilitybar {
    float: left;

    ul.menu {
      margin-bottom: 0;
    }

    ul#menu-utilities li  {
      display: inline-block;
      list-style: none;

      a {
        display: block;
        color: white;
        font-size: 0.9em;
        line-height: 40px;
        padding: 0 10px;
        text-decoration: underline;

        &:first-of-type {
          padding-left: 0;
        }
      }

      &.current-menu-item a {
      }
    }
  }
}

@media(max-width: 767px){
  .mobile-nav {
    margin-top: 10px;
    padding-right: 0;

    button {
      margin-bottom: 0;
    }
  }
}
