// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit"

.c-emergency-banner {
  ieoldcf()
  &__content {
    float: right;
    margin: 0;
    p {
      color: #ffffff;
    }
    &.ie_content{
      width: 58%;
      margin: 0;
      
    }
  }


}

