.template-about-us .template-container {
  &.has-own-categories {
    .agency-name-heading {
      display: block;
    }

    .the-moj-heading {
      display: block;
    }
  }

  &[data-agency-view="1"] .about-column-hq {
    display: none;
  }

  h1 {
    border-bottom: none;
    margin-top: 50px;
  }

  .excerpt {
    @extend %large-copy;
    margin-top: 32px;
    margin-bottom: 20px;
  }

  .category {
    @extend %medium-heading;
    margin-bottom: 0;

    &.all-items {
      margin-top: 40px;
      padding-top: 40px;
      border-top: 3px solid $black;
    }
  }

  .main-heading {
    margin-bottom: 10px;
  }

  .agency-name-heading {
    display: none;
  }

  .the-moj-heading {
    display: none;
  }

  &.agency-view .global-categories-box {
    display: none;
    margin-top: 20px;
    padding-left: 20px;
    border-left: 5px solid $grey-3;

    &.visible {
      display: block;
    }

    .category-item {
      padding-top: 10px;
    }
  }

  .toggle-global-categories-box {
    @extend %large-copy;
    font-weight: bold;
    text-decoration: underline;

    &:before {
      display: inline-block;
      margin-right: 3px;
      content: "▼";
    }
  }

  &.global-list-visible {
    .global-categories-box {
      display: block;
    }

    .toggle-global-categories-box:before {
      transform: rotate(180deg);
    }
  }

  .agency-only {
    display: none;
  }

  &.agency-view {
    .hq-only {
      display: none;
    }

    .agency-only {
      display: block;
    }
  }
}
