// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-input-container {
	margin-bottom: $spacing*3;

	label {
		display: block;
		font-weight: bold;
		font-size: $outerCore;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	textarea,
	select {
		display: block;
		width: 100%;
		margin-top: $spacing*.5;
		padding: $spacing $spacing*.6;
		border: 1px solid lighten($border, 30%);
		font-size: $outerCore;
		line-height: $lineHeight*1.2;
	}
}
