// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-footer-nav {
  text-align: center;
  +above(m) {
    text-align: left;
    margin-top: $spacing*10;
  }
  li {
    display: inline-block;
    margin-right: $spacing;
    a {
      display: block;
      color: $mid;
    }
  }
}
