/* This file contains references to the standard tools that need to be included in all components - IE version */

@require "_variables"

// The following are global CSS hacks to make IE styles work


// IEOLD Clearfix (undoes the jeet clearfix() and applies an IEOLD safe version (may cause design issues))

ieoldcf() {
  &:after {
    display:none;
  }
  zoom: 1;
  min-height: 1%;
}

// IE fixes for icon font
@css {
  .u-icon--yammer {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91c;');
  }
  .u-icon--twitter {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91d;');
  }
  .u-icon--people-finder {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe900;');
  }
  .u-icon--court-and-tribunal-finder {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe904;');
  }
  .u-icon--travel-booking {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe905;');
  }
  .u-icon--sop {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe906;');
  }
  .u-icon--it-portal {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe907;');
  }
  .u-icon--jobs {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe908;');
  }
  .u-icon--civil-service-learning {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe909;');
  }
  .u-icon--moj-logo {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90a;');
  }
  .u-icon--webchat {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90b;');
  }
  .u-icon--pension {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90c;');
  }
  .u-icon--form-finder {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90d;');
  }
  .u-icon--room-booking {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90e;');
  }
  .u-icon--provider-information {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90f;');
  }
  .u-icon--laa-online-portal {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe910;');
  }
  .u-icon--laa-manual-civil {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe911;');
  }
  .u-icon--laa-manual-crime {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe912;');
  }
  .u-icon--public-site {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe913;');
  }
  .u-icon--means-assessment-administration-tool {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe914;');
  }
  .u-icon--etarmis {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe915;');
  }
  .u-icon--bright-ideas {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe916;');
  }
  .u-icon--mitrefinch {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe917;');
  }
  .u-icon--shield {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe918;');
  }
  .u-icon--jac {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe919;');
  }
  .u-icon--crown {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91a;');
  }
  .u-icon--tpb {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91b;');
  }
  .u-icon--menu-down {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9bf;');
  }
  .u-icon--spinner9 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe982;');
  }
  .u-icon--menu-up {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9c0;');
  }
  .u-icon--share2 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea82;');
  }
  .u-icon--plus {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea0a;');
  }
  .u-icon--minus {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea0b;');
  }
  .u-icon--info {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea0c;');
  }
  .u-icon--cancel-circle {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea0d;');
  }
  .u-icon--link {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9cb;');
  }
  .u-icon--cross {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea0f;');
  }
  .u-icon--checkmark {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea10;');
  }
  .u-icon--circle-down {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea43;');
  }
  .u-icon--circle-up {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea41;');
  }
  .u-icon--circle-right {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea42;');
  }
  .u-icon--circle-left {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea44;');
  }
}
