/* This file contains references to the standard tools that need to be included in all components - IE version */

@require "_variables"
@require "_mixins"

// The following are global CSS hacks to make IE styles work


// IEOLD Clearfix (undoes the jeet clearfix() and applies an IEOLD safe version (may cause design issues))

ieoldcf() {
  &:after {
    display:none;
  }
  zoom: 1;
  min-height: 1%;
}
