// Colors

$dark = #000;
$mid = #454a4c;
$light = #fff;

$primary = #005ea5;
$text = #3c3c3b;
$links = $primary;
$linkHover = lighten($primary, 12%);
$linkFocus = #ffbf47
$button = #00823b;

$boxBg = #ebedef;
$border = #9797978f;

// Default sizes
$spacing = 1rem; // used for padding and margin
$baseFont   = 1rem;
$lineHeight = 1;

// Heading levels (names are abstracted)
$crust     = $baseFont * 3.6;
$mantle    = $baseFont * 2.4;
$outerCore = $baseFont * 1.9;
$innerCore = $baseFont * 1.6;

// Standard Text
$lead      = $mantle;
$bodyCopy  = $innerCore;
$smallCopy  = $baseFont * 1.4;

// Rupture scales
rupture.scale       = 320px 410px 500px 740px 1020px 1280px 1700px;
rupture.scale-names = 'xxs' 'xs' 's' 'm' 'l' 'xl' 'xxl';

//Themes
$opg_primary = #76b700;
$socialLinks = #005ea5;
