// If you are updating this file, pleae don't forget to also update the IE fixes in _/ietoolkit.styl
// There is a use-icon() mixin which will allow you to use the icons without a DOM element in _mixins.styl

@font-face {
  font-family: 'moji-clarity';
  src:  url('../fonts/moji-clarity.eot?jni3ad');
  src:  url('../fonts/moji-clarity.eot?jni3ad#iefix') format('embedded-opentype'),
    url('../fonts/moji-clarity.ttf?jni3ad') format('truetype'),
    url('../fonts/moji-clarity.woff?jni3ad') format('woff'),
    url('../fonts/moji-clarity.svg?jni3ad#moji-clarity') format('svg');
  font-weight: normal;
  font-style: normal;
}

.u-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'moji-clarity' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-icon--yammer:before {
  content: "\e91c";
}
.u-icon--twitter:before {
  content: "\e91d";
}
.u-icon--people-finder:before {
  content: "\e900";
}
.u-icon--court-and-tribunal-finder:before {
  content: "\e904";
}
.u-icon--travel-booking:before {
  content: "\e905";
}
.u-icon--sop:before {
  content: "\e906";
}
.u-icon--it-portal:before {
  content: "\e907";
}
.u-icon--jobs:before {
  content: "\e908";
}
.u-icon--civil-service-learning:before {
  content: "\e909";
}
.u-icon--moj-logo:before {
  content: "\e90a";
}
.u-icon--webchat:before {
  content: "\e90b";
}
.u-icon--pension:before {
  content: "\e90c";
}
.u-icon--form-finder:before {
  content: "\e90d";
}
.u-icon--room-booking:before {
  content: "\e90e";
}
.u-icon--provider-information:before {
  content: "\e90f";
}
.u-icon--laa-online-portal:before {
  content: "\e910";
}
.u-icon--laa-manual-civil:before {
  content: "\e911";
}
.u-icon--laa-manual-crime:before {
  content: "\e912";
}
.u-icon--public-site:before {
  content: "\e913";
}
.u-icon--means-assessment-administration-tool:before {
  content: "\e914";
}
.u-icon--etarmis:before {
  content: "\e915";
}
.u-icon--bright-ideas:before {
  content: "\e916";
}
.u-icon--mitrefinch:before {
  content: "\e917";
}
.u-icon--shield:before {
  content: "\e918";
}
.u-icon--jac:before {
  content: "\e919";
}
.u-icon--crown:before {
  content: "\e91a";
}
.u-icon--tpb:before {
  content: "\e91b";
}
.u-icon--chat_bubble:before {
  content: "\e0ca";
}
.u-icon--home:before {
  content: "\e901";
}
.u-icon--redo2:before {
  content: "\e968";
}
.u-icon--menu-down:before {
  content: "\e9bf";
}
.u-icon--spinner9:before {
  content: "\e982";
}
.u-icon--menu-up:before {
  content: "\e9c0";
}
.u-icon--share2:before {
  content: "\ea82";
}
.u-icon--plus:before {
  content: "\ea0a";
}
.u-icon--minus:before {
  content: "\ea0b";
}
.u-icon--info:before {
  content: "\ea0c";
}
.u-icon--cancel-circle:before {
  content: "\ea0d";
}
.u-icon--link:before {
  content: "\e9cb";
}
.u-icon--cross:before {
  content: "\ea0f";
}
.u-icon--checkmark:before {
  content: "\ea10";
}
.u-icon--circle-down:before {
  content: "\ea43";
}
.u-icon--circle-up:before {
  content: "\ea41";
}
.u-icon--circle-right:before {
  content: "\ea42";
}
.u-icon--circle-left:before {
  content: "\ea44";
}
.u-icon--search:before {
  content: "\e986";
}
.u-icon--youtube:before {
  content: "\ea9d";
}
.u-icon--linkedin:before {
  content: "\eac9";
}
.u-icon--thumbs-o-up:before {
  content: "\f087";
}
.u-icon--user-circle-o:before {
  content: "\f2be";
}
