// the 'main' layout
.l-main {
  zoom: 1;
  ieoldcf();
  clear: both;
  &.l-reverse-order .l-primary  {
    float: right; 
    width: 60%;
  }
  &.l-reverse-order .l-secondary {
    float: left;
  }
  .l-primary {
    float:left;
    width:64%;
    margin-right: 0;
    &:first-child {
      margin-left: 0;
      margin-right: 2%;
    }
    
  }
  .l-secondary {
    float:right;
    width:30%;
    margin-right: 0;
    &:first-child {
      margin-left: 0;
      margin-right: 0%;
    }
  }
}

// The 'footer' layout
.c-footer {
  zoom: 1;
  .u-wrapper {
    ieoldcf();
    clear:both;
  }
  ieoldcf();
  clear:both;
  .l-primary {
    float: left;
    width: 79%;
    margin-right: 1%;
    .o-arrow-toggle-link{
      width:100%;
      float:left;
    }
  }
  .l-secondary {
    float: right;
    width: 20%;
    margin-right: 0;
  }
}
