// the 'main' layout
.l-main {
  .l-primary {
    width:68%;
    margin-right: 0;
    &:first-child {
      margin-left: 0;
      margin-right: 2%;
    }
  }
  .l-secondary {
    width:30%;
    margin-right: 0;
    &:first-child {
      margin-left: 0;
      margin-right: 2%;
    }
  }
}

// The 'footer' layout
.c-footer {
  .l-primary {
    width: 79%;
    margin-right: 1%;
  }
  .l-secondary {
    width: 20%;
    margin-right: 0;
  }
}
