// the 'main' layout
.l-main {
  zoom: 1;
  ieoldcf();
  clear: both;
  .l-primary {
    float:left;
    width:67%;
    margin-right: 0;
    &:first-child {
      margin-left: 0;
      margin-right: 2%;
    }
  }
  .l-secondary {
    float:right;
    width:30%;
    margin-right: 0;
    &:first-child {
      margin-left: 0;
      margin-right: 2%;
    }
  }
}

// The 'footer' layout
.c-footer {
  zoom: 1;
  .u-wrapper {
    ieoldcf();
    clear:both;
  }
  ieoldcf();
  clear:both;
  .l-primary {
    float: left;
    width: 79%;
    margin-right: 1%;
  }
  .l-secondary {
    float: right;
    width: 20%;
    margin-right: 0;
  }
}
