@require 'jeet';
@require '_variables';
@require 'icons';
@require '_mixins';

// Title formatting
.o-title {
  font-weight: bold;
  margin-bottom: $spacing*2;
  // Main page title
  &--page {
  	font-size: $crust;
  	margin-top: $spacing*2.5;
  }
  // Section title
  &--section {
  	font-size: $mantle;
  	border-bottom: 2px solid $border;
	}
}

// See all/Read more links
.o-see-all-link,
.o-read-more-link {
  clear:both;
  display: block;
}

.o-button {
  display: inline-block;
  padding: $spacing*.6 $spacing*1.5 $spacing*.5;
  cursor: pointer;
  text-decoration: none;
  vertical-align: top;
  background-color: $button;
  box-shadow: 0 2px 0 darken($button, 80%);
  color: $light;
  font-size: $outerCore;
  border: none;
  line-height: $lineHeight*1.2;
  &:hover {
    background-color: darken($button, 20%);
  }
}

.o-arrow-toggle-link {
  display: block;
  text-align: center;
  margin-bottom: $spacing;
  +above(m) {
    text-align: left;
    margin-bottom: 0;
  }
  &:before {
    display: inline-block;
    margin-right: $spacing*.3;
    use-icon('a', inherit);
    vertical-align: middle;
  }
}
