// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-pagination {
  position: relative;
  clearfix();
  &__link {
    span(1/2)
    &--prev {
      & ^[-2]__main {
        &:before {
          use-icon('n', inherit);
          transform: rotate(90deg);
          padding-right: $spacing*.5;
        }
      }

    }
    &--next {
      text-align: right;
      & ^[-2]__main {
        &:after {
          use-icon('n', inherit);
          transform: rotate(-90deg);
          padding-left: $spacing*.5;
        }
      }
    }
    span {
      display: block;
    }
  }
  &__main {
    &:before,
    &:after {
      padding-bottom: 0;
      display: inline-block;
      vertical-align: middle;
    }
    font-size: $mantle;
    padding: $spacing 0;
  }
  &__count {
    color: $mid;
    padding: 0 $spacing*3;
  }
}
