.template-home .news-widget {
  &.news-list-widget {
    article {
      @include clearfix;
      border-bottom: 1px solid $grey-2;
      padding-bottom: 5px;
    }

    .news-item {
      margin: 10px 0;
    }

    .news-thumbnail {
      max-width: 100px;
    }

    .news-thumbnail-container {
      float: left;
      margin-right: 10px;
    }

    .news-content {
      overflow: hidden;
    }

    .news-list {
    }
  }

  .news-thumbnail {
    max-width: 100%;
  }
}
