.posts-widget {
  .posts-heading {
    @extend %large-heading;
    border-bottom: 1px solid #6f777b;
    margin-bottom: 5px;
  }

  .posts-list {
    margin-top: 0;
  }

  .results-item {
    @include clearfix;

    padding: 10px 0;
    border-top: 1px solid $grey-2;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }

    .post-title {
      @extend %medium-heading;
      margin: 0;
    }

    .post-thumbnail-container {
      float: left;
      margin-right: 10px;
    }

    .post-thumbnail {
      max-width: 60px;
    }

    .post-meta {
      color: $grey-1;
    }

    .post-date {
    }

    .post-content {
      overflow: hidden;
    }
  }
}
