// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit";

.c-blog-feed {
  clearfix();

  .c-article-item img:last-child {
    margin-right: $spacing;
  }
}
