// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit"

.c-need-to-know {
  ieoldcf();
  &__slide {
    ieoldcf();
    img, div {
      width: 50%;
      float:left;
    }
    div {
      width: 46%;
      padding: 2%;
    }
  }
}
