// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-need-to-know {
  clearfix();
  clear:both;
  position: relative;

  &__slide {
    clearfix();
    clear:both;
    background-color: $primary;
    /.no-js & {
      // If JS is disabled, display all items as a stack
      margin-bottom: $spacing;
      display: block;
    }
    /.js & {
      // If JS is enabled. Set each slide to hide it's overflow.
      overflow: hidden;
    }
    a {
      text-decoration: none;
    }
    img, div {
      +above(m) {
        span(1/2);
      }
    }
    img {
      max-width: 100%;
    }
    div {
      padding: $spacing*3;
      p, a, span, li {
        color: $light;
        font-size: $mantle;
        font-weight: bold;
        line-height: $lineHeight*1.2;
      }
    }
  }
  .js-nav-container {
    position: absolute;
    bottom: 0;
    right: 0;
    button {
      font-size: $mantle;
      display: inline-block;
      padding: $spacing;
      color: $light;
      cursor: pointer;
      background: transparent;
      border:0;
    }
  }
}
