.lte-ie7 {
  .content-info {
    clear: both;

    a {
      display: block;
    }
  }
}

.lte-ie8 {
  .breadcrumb-separator {
    width: 8px;
    height: 13px;
    background-image: url('../images/breadcrumb_separator.gif');
    vertical-align: middle;
  }
}
