.lte-ie7,
.ie8 {
  .feeds {
    .fallback {
      display: block;

      li {
        margin-bottom: 10px;
      }

      .icon {
        display: inline;
        zoom: 1;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        background-image: url('../images/feeds.png');
        background-repeat: none;
        vertical-align: middle;
      }

      .twitter .icon {
      }

      .yammer .icon {
        background-position: -60px 0;
      }
    }

    .regular {
      display: none;
    }
  }
}
