.lte-ie8.template-guidance-and-support-index .template-container {
  .guidance-categories-list {
    .category-item {
      display: inline-block;
      float: none;
      width: 33%;
      vertical-align: top;
    }
  }
}

.lte-ie7.template-guidance-and-support-index .template-container {
  .guidance-categories-list {
    .category-item {
      display: inline;
      width: 30%;
      zoom: 1;
    }
  }
}
