.lte-ie8 .header {
  .my-intranet-form {
    .department-list {
      a:hover .department-icon {
        background-image: url('../images/department_crest_white.png');
      }

      .department-icon {
        background-image: url('../images/department_crest.png');
      }
    }
  }

  .user-bar {
    .my-agency-tooltip .triangle {
      background-image: url('../images/tooltip_triangle.png');
    }
  }
}

.lte-ie7 .header {
  .user-bar .user-menu {
    li {
      display: inline;
      zoom: 1;

      &.hidden {
        display: none;
      }
    }
  }
}
