.lte-ie7 .my-moj {
  .my-moj-top {
    padding-top: 0;
  }

  .my-intranet-form {
    display: inline-block;
  }

  .department-dropdown-box {
    float: left;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .app-name {
    padding-top: 4px;
  }
}

.lte-ie8 .my-moj {
  .apps-list {
    .app-icon-inner {
      background-image: url('../images/app_icons.png');
      background-size: auto;
    }

    .app-icon {
      width: auto;
      height: auto;
      max-width: none;
      max-height: none;
    }
  }

  .app-link:hover {
    cursor: pointer;

    .app-icon-inner {
      background-image: url('../images/app_icons_hover.png');
    }
  }
}
