.need-to-know-widget {
  .lte-ie7 & {
    .need-to-know-pagination {
      bottom: 40px;
    }
  }

  .lte-ie8 & {
    .need-to-know-pagination {
      .left-arrow {
        background-image: url('../images/left_arrow.png');

        &:hover {
          background-image: url('../images/left_arrow_hover.png');
        }
      }

      .right-arrow {
        background-image: url('../images/right_arrow.png');

        &:hover {
          background-image: url('../images/right_arrow_hover.png');
        }
      }
    }
  }
}
