.lte-ie7 {
  .search-form {
    .keywords-field {
      width: expression((this.parentNode.clientWidth - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight']) - parseInt(this.currentStyle['borderLeftWidth']) - parseInt(this.currentStyle['borderRightWidth'])) + 'px');
      height: 16px;
    }

    .search-btn {
      right: -1px;
      top: 4px;
      bottom: 4px;
      border-bottom: none;
      text-transform: capitalize; /* hide the text hack... Noone knows why this works in IE7 :) */
    }
  }

  .ui-autocomplete {
    z-index: 1;
  }
}

.lte-ie8 {
  .search-form {
    .keywords-field {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .search-btn {
      background-image: url('../images/search_icon.png');
    }
  }
}
