.lte-ie7 {
  .search-form {
    .keywords-field {
      width: expression((this.parentNode.clientWidth - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight']) - parseInt(this.currentStyle['borderLeftWidth']) - parseInt(this.currentStyle['borderRightWidth'])) + 'px');
      height: 16px;
    }
  }

  .header-search {
   position: relative;
   z-index: 1;
  }

  .ui-autocomplete {
    z-index: 1;
  }
}

.lte-ie8 {
  .search-form {
    .keywords-field {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .search-btn {
      height: 39px;
      width: 39px;
      background-image: url('../images/search_icon.png');
    }
  }
}
