.lte-ie7 {
  .search-form {
    .keywords-field {
      width: expression((this.parentNode.clientWidth - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight']) - parseInt(this.currentStyle['borderLeftWidth']) - parseInt(this.currentStyle['borderRightWidth'])) + 'px');
      height: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .search-btn {
      top: 4px;
      height: 38px;
    }
  }

  .ui-autocomplete {
    z-index: 1;
  }
}
