name: Composer Test

on: [pull_request]

jobs:
  test:
    if: github.event.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.2', '8.3']

    steps:
    - uses: actions/checkout@v4

    - name: "Setup PHP"
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}

    - name: "Cache Composer dependencies"
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"

    - uses: actions/cache@v3
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-

    - name: "Check Composer lock file is up to date"
      run: composer validate --no-check-all

    - name: "Install Composer dependencies"
      run: |
        chmod +x bin/* && sleep 1
        bin/composer-auth.sh
        composer install --no-progress --prefer-dist --optimize-autoloader
        rm -f auth.json
      env:
        COMPOSER_USER: ${{ secrets.COMPOSER_USER }}
        COMPOSER_PASS: ${{ secrets.COMPOSER_PASS }}
        AS3CF_PRO_USER: ${{ secrets.AS3CF_PRO_USER }}
        AS3CF_PRO_PASS: ${{ secrets.AS3CF_PRO_PASS }}

    - name: "Run tests"
      run: make test
