// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-guidance {
  &__section {
    h2 {
      ff-title();
      font-size: $outerCore;
      margin-bottom: $spacing;
    }
    overflow: hidden;
    padding: $spacing*2 0;
    border-bottom: 3px solid $dark;
  }
}
